.cp-form {
    margin-bottom: $cp-margin-base-vertical;

    > fieldset {
        background-color: $gray-lighter;
        margin-bottom: 18px;
        padding: $cp-padding-xl-vertical ($grid-gutter-width / 2);

        legend {
            @extend .cp-form-label;
            border-bottom: 0;
            display: inline-block;
            width: auto;
        }

        > .cp-form-group:last-of-type {
            margin-bottom: 0;
        }
    }

    .cp-heading {
        margin-bottom: $cp-margin-xs-vertical;
    }
}

.cp-form-group {
    margin-bottom: $cp-margin-base-vertical;
    position: relative;
}

.cp-form-label {
    color: $cp-primary-color;
    display: block;
    font-size: $font-size-h4;
    font-weight: 600;
    line-height: 1.167; // ~21px
    margin-bottom: $cp-margin-xs-vertical;
}

.cp-form-control {
    @extend .form-control;
    border-width: 3px;
    color: $cp-primary-color;
    font-size: $font-size-h4;
    font-weight: 600;
    padding-right: $padding-small-horizontal;
    padding-left: $padding-small-horizontal;
}

.cp-input-lg {
    @extend .input-lg;
    font-size: $font-size-h3;
    height: $input-height-large;
}

.cp-checkbox {
    > label {
        font-size: 16px;
        font-weight: 400;

        > input[type='checkbox'] {
            margin: 1px 2px 0 0;
        }
    }
}

.cp-checkbox-inline {
    font-size: 16px;
    font-weight: 400;
    margin: 0 $padding-small-horizontal;

    > input[type='checkbox'] {
        margin: 1px 2px 0 0;
    }
}

.cp-radio-inline {
    font-size: 16px;
    font-weight: 400;
    margin: 0 $padding-small-horizontal;

    &:first-of-type {
        margin-left: 0;
    }

    > input[type='radio'] {
        margin: 1px 2px 0 0;
    }
}

.cp-form-error {
    color: $state-danger-text;
    font-size: $font-size-h4;
}

.cp-form-separator {
    font-size: $font-size-large;
    font-weight: 600;
    position: relative;
    top: 30px;
    left: -3px;
    text-transform: uppercase;
}
