@import '../mixins/cp-arrows';

.cp-search-form {
    margin-top: $cp-margin-base-vertical;
    position: relative;

    .row {
        margin-right: -5px;
        margin-left: -5px;
    }

    *[class^='col-'],
    *[class*=' col-'] {
        padding-right: 5px;
        padding-left: 5px;
    }
}

.cp-search-form-advanced {
    border: 3px solid $gray-lighter;

    > fieldset {
        background-color: transparent !important;

        > .row {
            margin-right: (-$grid-gutter-width / 2);
            margin-left: (-$grid-gutter-width / 2);

            > div[class^='col-'],
            > div[class*=' col-'] {
                padding-right: ($grid-gutter-width / 2);
                padding-left: ($grid-gutter-width / 2);
            }
        }
    }

    .cp-checkbox > label {
        border-bottom: 1px solid $gray-light;
        display: block;
        margin-bottom: 0;
        padding-top: $padding-small-vertical;
        padding-bottom: $padding-small-vertical;
    }
}

.cp-search-budget-per-person-input {
    clear: both;
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
    height: 18px;

    &:focus {
        outline: none;

        &::-webkit-slider-thumb {
            border-color: $input-border-focus;
        }

        &::-moz-range-thumb {
            border-color: $input-border-focus;
        }

        &::-ms-thumb {
            border-color: $input-border-focus;
        }
    }

    &::-webkit-slider-runnable-track {
      width: 100%;
      height: 4px;
      cursor: pointer;
      animate: 0.2s;
      background: $brand-primary;
    }

    &::-webkit-slider-thumb {
        border: 2px solid $brand-primary;
        height: 16px;
        width: 16px;
        border-radius: 8px;;
        background: #ffffff;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -6px;
    }

    &::-moz-range-track {
      width: 100%;
      height: 4px;
      cursor: pointer;
      animate: 0.2s;
      background: $brand-primary;
    }

    &::-moz-range-thumb {
      border: 2px solid $brand-primary;
      height: 16px;
      width: 16px;
      border-radius: 8px;
      background: #ffffff;
      cursor: pointer;
    }

    &::-ms-track {
      width: 100%;
      height: 4px;
      cursor: pointer;
      animate: 0.2s;
      background: transparent;
      border-color: transparent;
      border-width: 16px 0;
      color: transparent;
    }

    &::-ms-fill-lower {
      background: #2a6495;
    }

    &::-ms-fill-upper {
      background: $brand-primary;
    }

    &::-ms-thumb {
      border: 2px solid $brand-primary;
      height: 16px;
      width: 16px;
      border-radius: 8px;
      background: #ffffff;
      cursor: pointer;
    }
}

.cp-search-budget-per-person-output {
    font-size: $font-size-h4;
    font-weight: 600;
    line-height: 1;
    padding: 0;
    text-align: center;
}

.cp-search-event-type-label {
    float: left;
    margin-right: $padding-xs-horizontal;
}

.cp-search-advanced-search-label {
    border-bottom: 2px solid $cp-primary-color !important;
    margin-bottom: 0 !important;
    padding-bottom: $padding-small-vertical;
    width: 100% !important;
}

.cp-search-advanced-search,
.cp-search-advanced-search-close {
    font-size: $font-size-base !important;
    font-weight: 600;
    position: absolute;
    right: 0;
    bottom: 0;
}

.cp-search-advanced-search::after {
    @include cp-arrow-down(4px, 4px, $cp-primary-color);
}

.cp-search-advanced-search-close::after {
    @include cp-arrow-up(4px, 4px, $cp-primary-color);
}

.cp-search-packaging-options-label {
    margin-bottom: $cp-margin-small-vertical !important;
    padding-top: $cp-margin-base-vertical;
}

.cp-search-notice {
    font-size: $font-size-h4;
}

.cp-search-cuisine-type-uncheck-all {
    font-size: $font-size-base !important;
    font-weight: 600;
    height: auto !important;
    padding: 0;
    position: absolute;
    top: 0;
    right: ($grid-gutter-width / 2);
}
