@import '../modules/cp-bootstrap-variables';
@import '../mixins/cp-font-title';
@import 'cp-buttons';
@import 'cp-forms';
@import 'cp-modals';

$cp-login-sign-up-height: 69px;

.cp-login {
    margin: 120px auto 0;
    width: 390px;
}

.cp-login-heading {
    @include cp-font-title($font-size-h2);
    margin: 0 0 $cp-padding-xl-vertical;
}

.cp-login-form {
    input[type="submit"] {
        margin-top: 26px;
    }
}

.cp-login-log-in {
    padding-left: 0;
}

.cp-checkbox {
    margin-top: 0;
    margin-bottom: 0;
}

.cp-login-remember-me {
    > label {
        font-size: $font-size-base !important;
    }
}

.cp-login-forgot-password {
    color: $cp-primary-color;
    text-decoration: underline;

    &:hover,
    &:focus,
    &:active {
        color: $cp-primary-color;
        text-decoration: none;
    }
}

.cp-login-sign-up {
    height: $cp-login-sign-up-height !important;
    line-height: $cp-login-sign-up-height - ($padding-base-vertical * 2) !important;

    > span {
        font-weight: 400;

        &::after {
            content: '\003e';
            padding-left: 5px;
        }
    }
}
