@import "../modules/_cp-bootstrap-variables";
@import "../../lib/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss";

.cp-heading {
    text-transform: uppercase;
    font-weight: 600;
    font-size: $font-size-h1;
    margin: $font-size-h2 0 $font-size-h2 0;
}
