@import '../mixins/cp-font-title';
@import 'cp-buttons';
@import 'cp-forms';

.cp-dashboard {
    @extend .row;
    margin-top: 60px;
}

.cp-dashboard-main {
    @extend .col-md-8;
}

.cp-dashboard-heading {
    @include cp-font-title($font-size-h1);
    margin: 0 0 $cp-margin-base-vertical;
    text-align: center;

    > span {
        display: block;
        font-size: 42px;
        margin-top: $cp-margin-xs-vertical;
    }
}

.cp-dashboard-form {
    > fieldset {
        margin-bottom: $cp-margin-large-vertical;
        padding: 30px 25px;
    }

    .row {
        margin-right: -5px;
        margin-left: -5px;

        &:last-of-type {
            > *[class^='col-'],
            > *[class*=' col-'] {
                margin-bottom: $cp-margin-small-vertical;
            }
        }
    }

    *[class^='col-'],
    *[class*=' col-'] {
        padding-right: 5px;
        padding-left: 5px;
    }
}

.cp-dashboard-sidebar {
    @extend .col-md-4;
}

.cp-dashboard-aside {
    border: 5px solid $gray-light;
    padding: $cp-padding-xl-vertical ($grid-gutter-width / 2);

    > header {
        @extend .clearfix;
        margin-bottom: $cp-margin-small-vertical;
    }

    .cp-package-card-price {
        display: block !important;
    }

    .cp-package-rating-inline {
        margin-bottom: $cp-margin-small-vertical;

        > li {
            margin-bottom: $cp-margin-small-vertical;
            width: 40%;

            &:nth-child(odd) {
                border-left: 0;
            }
        }
    }
}

.cp-dashboard-aside-heading {
    @include cp-font-title($font-size-h3);
    float: left;
    margin: 0;
    width: 60%;
}

.cp-dashboard-aside-order-date {
    @include cp-font-title($font-size-h3);
    float: right;
    font-weight: 400;
    line-height: 1;
    text-align: right;
    width: 40%;
}

.cp-dashboard-aside-package-description {
    font-size: 16px;
    margin-bottom: $cp-margin-base-vertical;
}

.cp-dashboard-aside-order-detail {
    position: relative;

    > dl {
        @extend .clearfix;
        font-size: 16px;

        > dt,
        > dd {
            border-bottom: 1px solid $gray-light;
            padding-top: $padding-small-vertical;
            padding-bottom: $padding-small-vertical;
        }

        > dt {
            clear: left;
            float: left;
            font-weight: 400;
            width: $dl-horizontal-offset;
        }

        > dd {
            margin-left: $dl-horizontal-offset;
            text-align: right;
        }
    }
}

.cp-dashboard-aside-order-detail-total {
    @include cp-font-title($font-size-h4);
    border-top: 2px solid $cp-primary-color !important;
    border-bottom: 2px solid $cp-primary-color !important;
    font-weight: 700 !important;
    padding-top: $cp-margin-small-vertical !important;
    padding-bottom: $cp-margin-small-vertical !important;
    position: relative;
    top: -1px;
}

.cp-dashboard-aside-order-detail-heading {
    @include cp-font-title($font-size-h4);
    border-bottom: 2px solid $cp-primary-color;
    margin: 0;
    padding-bottom: $padding-base-vertical;
}

.cp-dashboard-aside-order-edit {
    font-weight: 600;
    position: absolute;
    top: 0;
    right: 0;

    &,
    &:hover,
    &:focus,
    &:active {
        color: $cp-secondary-color;
    }
}

.cp-dashboard-aside-order-edit-notice {
    background-color: #fffbcc;
    margin: $cp-margin-small-vertical 0;
    padding: $padding-large-vertical ($grid-gutter-width / 2);
}
