{% extends 'base.html.twig' %}

{% block title %}Customer {{ customer.id }}{% endblock %}

{% block body %}
    <main class="wrapper">
        <h1>Customer {{ customer.id }}</h1>
    </main>
{% endblock %}
