{% extends 'base.html.twig' %}

{% block title %}Orders{% endblock %}

{% block body %}
    <main class="wrapper" ng-controller="AdminOrderController as order">
        <h1>Orders</h1>

        <div ui-grid="order.gridOptions" ui-grid-pagination id="orders-table"></div>
    </main>
{% endblock %}
