{% extends 'base.html.twig' %}

{% block title %}Orders{% endblock %}

{% block body %}
    <main class="wrapper">
        <h1>Orders</h1>

        @todo - re-write page in Angular.
    </main>
{% endblock %}
