{% extends 'base.html.twig' %}

{% block title %}Orders{% endblock %}

{% block body %}
    <main class="wrapper" ng-controller="OrderController">
        <h1>Orders</h1>

        <div ui-grid="ordersTable" ui-grid-pagination></div>
    </main>
{% endblock %}
