{% extends 'base.html.twig' %}

{% block title %}Package {{ package.id }}{% endblock %}

{% block body %}
    <main class="wrapper">
        <h1>Package {{ package.id }}</h1>
    </main>
{% endblock %}
