{% extends 'base.html.twig' %}

{% block title %}Vendors{% endblock %}

{% block body %}
    <main class="wrapper" ng-controller="AdminVendorsController as vendors">
        <h1>Vendors</h1>

        <div ui-grid="vendors.gridOptions" ui-grid-pagination id="vendors-table"></div>
    </main>
{% endblock %}
