{% extends 'base.html.twig' %}

{% block title %}Loading{% endblock %}

{% block body %}
    <main role="main" ng-view>
    </main>

    <div class="state-loading">
        <div class="spinner">
            <img src="/dist/images/loading.gif" width="30" height="30" />
        </div>
    </div>
{% endblock %}
