# This file is a "template" of what your parameters.yml file should look like
parameters:
    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt
    templates.include_analytics_js: false
    templates.include_social_buttons: false
    templates.phone_number_uk: 020 3397 8376
    templates.phone_number_international: +4420 3397 8376
    templates.blog_url: https://citypantry.com/blog
    templates.twitter_handle: citypantry
    templates.hubspot_base: https://citypantry.com
    templates.frontend_base: https://order.citypantry.com
    templates.api_base: https://api.citypantry.com

    # A key that works for any domain is: AIzaSyDcbvisbl9Wx6CA4qKe7Ld-mVWVKOiRZ_U
    # A key that works for prod is: AIzaSyD1LSq6a2KDw3-pVN20CdqUpNEZ37wADDg
    templates.google_maps_javascript_api_v3_key: AIzaSyD1LSq6a2KDw3-pVN20CdqUpNEZ37wADDg

    citypantry_api_endpoint: https://api.citypantry.com
    cache_buster_value: ~
