cp-dietary-requirements-form {
    display: block;

    .cp-dietary-requirements-form-requirements,
    .cp-dietary-requirements-form-custom-instructions {
        margin-bottom: 36px;

        > legend {
            @include cp-font-title($font-size-h2);
            border-bottom: 0;
            color: $cp-primary-color;
            font-size: $font-size-h2 !important;
            font-weight: 700 !important;
            line-height: 1 !important;
            margin-bottom: $cp-margin-xs-vertical;
        }

        > legend + .cp-form-group {
            > label {
                font-size: $font-size-h4;
                font-weight: 400;
                margin-bottom: 18px;
            }
        }
    }

    .cp-dietary-requirements-form-requirements {
        .cp-form-group {
            padding-bottom: 30px;
        }
    }

    .cp-dietary-requirements-form-requirement {
        border-bottom: 4px solid #ededed;
        overflow: hidden;
        padding-top: 20px;
        padding-bottom: 20px;

        &:first-of-type {
            border-top: 4px solid #ededed;
        }

        .cp-dietary-requirements-form-requirement-head-count {
            float: left;
            margin-right: 10px;
            width: 100px;
        }

        .cp-dietary-requirements-form-requirement-people {
            @include cp-font-title(16px);
            float: left;
            line-height: 38px;
            width: 105px;
        }

        .cp-dietary-requirements-form-requirement-diet {
            float: left;
            width: 125px;
        }

        .cp-dietary-requirements-form-requirement-plus {
            @include cp-font-title(16px);
            float: left;
            line-height: 38px;
            text-align: center;
            width: 20px;
        }
    }

    .cp-dietary-requirements-form-requirements-add {
        @include cp-font-title(16px);
        position: absolute;
        right: 0;
        bottom: 0;
    }
}
