@import '../modules/cp-variables';

$cp-font-size-call-us-number: 19px;
$cp-vertical-margin-header-large-element: ($navbar-height - $input-height-large) / 2;

.cp-header {
    @extend .navbar;
    @extend .navbar-default;
    @extend .navbar-static-top;
    text-transform: uppercase;
    background: $body-bg;

    .cp-button-nav-menu {
        @extend .navbar-toggle;
        @extend .collapsed;
        height: $input-height-large;
        margin-top: $cp-vertical-margin-header-large-element;
        margin-bottom: $cp-vertical-margin-header-large-element;
    }

    .cp-nav-menu {
        @extend .nav;
        @extend .navbar-nav;
        @extend .navbar-right;
    }

    .cp-button-my-account {
        @extend .dropdown-toggle;
    }

    .cp-nav-menu-my-account {
        @extend .dropdown-menu;
        @extend .dropdown-menu-right;
        text-transform: none;
    }

    .cp-logo {
        margin-top: 1px;
        height: 20px;
        margin-right: $navbar-padding-horizontal;
    }

    .cp-form-search {
        @extend .navbar-form;
        margin-top: $cp-vertical-margin-header-large-element;
        margin-bottom: $cp-vertical-margin-header-large-element;
    }

    .cp-input-search {
        @extend .form-control;
        @extend .input-lg;
        border-right: none;
        border-top: $cp-outline-width solid $cp-outline-color;
        border-left: $cp-outline-width solid $cp-outline-color;
        border-bottom: $cp-outline-width solid $cp-outline-color;
        box-shadow: none;
        font-size: $font-size-base;
    }

    .cp-btn-search {
        @extend .btn;
        @extend .btn-default;
        @extend .btn-lg;
        border-top: $cp-outline-width solid $cp-outline-color;
        border-right: $cp-outline-width solid $cp-outline-color;
        border-bottom: $cp-outline-width solid $cp-outline-color;
        height: $input-height-large;
        background-image: url("/dist/images/icon-search.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: $font-size-base $font-size-base;
    }

    .cp-call-us {
        @extend .hidden-xs;
        padding-top: $cp-vertical-margin-header-large-element !important;
        padding-bottom: $cp-vertical-margin-header-large-element !important;
        height: $input-height-large;
    }

    .cp-call-us-message {
        text-transform: none;
        @extend .small;
    }

    .cp-call-us-number {
        font-size: $cp-font-size-call-us-number;
        line-height: $cp-font-size-call-us-number;
        color: $cp-secondary-color;
        font-weight: bold;
        letter-spacing: 1px;
        margin: 0;
    }
}
