@import '../modules/cp-variables';

$cp-font-size-header: 15px;
$cp-vertical-margin-header-large-element: ($navbar-height - $input-height-large) / 2;
$cp-header-main-item-height: 35px;
$cp-header-main-item-vertical-padding: 7px;
$cp-header-secondary-item-vertical-padding: 6px;
$cp-header-nav-item-horizontal-padding: 10px;

cp-header {
    display: block;
    padding: 0 $grid-gutter-width;
    margin: 0 auto;
    background-color: $body-bg;
    position: relative;
    z-index: $zindex-navbar;
}

.cp-header {
    .navbar-header > a.navbar-brand {
        padding: 23px 0;
        height: 66px;
    }

    .cp-button-nav-menu {
        @extend .navbar-toggle;
        @extend .collapsed;
        height: $input-height-large;
        margin-top: $cp-vertical-margin-header-large-element;
        margin-bottom: $cp-vertical-margin-header-large-element;
    }

    .cp-nav-menu {
        float: right;
        list-style: none;
        margin: 17px 0 0 0;
        padding: 0;

        > li {
            float: left;
            padding-top: $cp-header-main-item-vertical-padding;
            padding-bottom: $cp-header-main-item-vertical-padding;
            font-size: $cp-font-size-header;
            height: $cp-header-main-item-height;
            padding-left: $cp-header-nav-item-horizontal-padding;
            padding-right: $cp-header-nav-item-horizontal-padding;
            margin-right: 20px;
        }

        @media (max-width: 1205px) {
            > li {
                margin-right: 0;
            }
        }

        > li,
        > li > a {
            color: $cp-primary-color;
            font-weight: bold;
            font-size: $cp-font-size-header;
            line-height: $cp-header-main-item-height - $cp-header-main-item-vertical-padding - $cp-header-main-item-vertical-padding;
            text-decoration: none;
        }

        li.dropdown {
            ul {
                margin: -1px -1px 0 0;
                padding: 0;
                background-color: $cp-primary-color;
            }
            li {
                border-top: 1px dotted white;
            }
            li a {
                padding-top: $cp-header-secondary-item-vertical-padding;
                padding-bottom: $cp-header-secondary-item-vertical-padding;
                padding-left: $cp-header-nav-item-horizontal-padding;
                padding-right: $cp-header-nav-item-horizontal-padding;
                text-decoration: none;
                font-weight: normal;
            }
            li a:hover {
                background-color: transparent;
            }
        }

        > li.dropdown.open {
            background-color: $cp-primary-color;

            a {
                color: white;
            }
            a .caret {
                transform: rotateX(180deg);
            }
        }
    }

    .cp-button-my-account {
        @extend .dropdown-toggle;
    }

    .cp-nav-menu-my-account {
        @extend .dropdown-menu;
        @extend .dropdown-menu-right;
        text-transform: none;
        min-width: 145px;
    }

    .cp-logo {
        height: 20px;
        margin-right: $navbar-padding-horizontal;
    }

    .cp-call-us {
        @extend .hidden-xs;

        > img {
            float: left;
            margin-right: $navbar-padding-horizontal;
            margin-top: -7px;
        }
    }

    .cp-call-us-number {
        float: left;
        font-size: $cp-font-size-header;
        color: $cp-primary-color;
        font-weight: bold;
        letter-spacing: 1px;
    }
}
