cp-package-rating {
    display: block;
}

.cp-package-rating-inline {
    @extend .row;
    @extend .list-unstyled;
    @include cp-font-title($font-size-small);
    margin-bottom: $cp-margin-base-vertical;

    > li {
        @extend .col-xs-2;
        width: 24.5%;
        border-left: 2px solid $gray-light;

        &:first-child {
            border-left: 0;
        }
    }
}

.cp-package-rating-inline-rating {
    font-size: 16px;
}

.icon-star,
.icon-star-half-o {
    color: #96af05;
}

.icon-star-o {
    color: $gray-light;
}
