<div class="cp-login">
    <h1 class="cp-login-heading">New to City Pantry? Sign up!</h1>

    <p class="cp-form-error" ng-show="registerError" ng-bind="registerError"></p>

    <form class="cp-form cp-login-form" role="form" ng-submit="submit()" name="registerForm">
        <fieldset>

            <div class="cp-form-group">
                <label class="cp-form-label" for="registerName">Your name</label>
                <input class="cp-form-control" id="registerName" name="registerName"
                    required aria-required="true"
                    ng-model="name" />
            </div>

            <div class="cp-form-group">
                <label class="cp-form-label" for="registerCompany">Company name (optional)</label>
                <input class="cp-form-control" id="registerCompany" name="registerCompany"
                    ng-model="company" />
            </div>

            <div class="cp-form-group">
                <label class="cp-form-label" for="registerEmail">Email</label>
                <input class="cp-form-control" id="registerEmail" name="registerEmail" type="email"
                    required aria-required="true"
                    ng-model="email" />
            </div>

            <div class="cp-form-group">
                <label class="cp-form-label" for="registerPassword">Password</label>
                <input class="cp-form-control" id="registerPassword" name="registerPassword" type="password"
                    required aria-required="true"
                    ng-model="plainPassword" />
            </div>

            <input class="cp-btn cp-btn-primary cp-btn-sm" type="submit" value="Sign up" />
        </fieldset>
    </form>
</div>
