<div class="thin-wrapper">
    <h2 class="cp-heading">Reset password</h2>

    <form role="form" ng-submit="reset()">
        <fieldset>
            <div class="cp-form-group">
                <label class="cp-form-label" for="new">New Password</label>
                <input class="cp-form-control" ng-model="newPassword" id="new" name="new" type="password"
                    required aria-required="true">
            </div>

            <div class="cp-form-group">
                <label class="cp-form-label" for="confirm">Confirm Password</label>
                <input class="cp-form-control" ng-model="confirmPassword" id="confirm" name="confirm" type="password"
                    required aria-required="true">
            </div>

            <input class="btn btn-primary" type="submit" value="Reset">
        </fieldset>
    </form>
</div>
