<div class="modal" ng-controller="NotificationModalController" ng-class="{open: isOpen}">
    <div class="modal-dialog">
        <div class="modal-content">
            <h4 class="modal-header">
                {% verbatim %}
                    {{ type === 'success' ? 'Success' : '' }}
                    {{ type === 'error' ? 'Error' : '' }}
                {% endverbatim %}
            </h4>

            <div class="modal-body" ng-bind="message"></div>

            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="dismiss()">OK</button>
            </div>
        </div>
    </div>
</div>
