<aside class="col-sm-3 col-sm-offset-1 sidebar">
    <nav class="sidebar-menu" role="navigation">
        <ul class="nav nav-pills nav-stacked">
            <li {{ page == 'about' ? 'class="active"' : '' }}><a href="/about">About</a></li>
            <li><a href="https://citypantry.com/blog/">Blog</a></li>
            <li {{ page == 'faq' ? 'class="active"' : '' }}><a href="/faq">FAQ</a></li>
            <li {{ page == 'contact' ? 'class="active"' : '' }}><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</aside>
