<aside class="col-sm-3 col-sm-offset-1 sidebar">
    <nav class="sidebar-menu" role="navigation">
        <ul class="nav nav-pills nav-stacked">
            <li {{ page == 'eventCatering' ? 'class="active"' : '' }}><a href="/event-catering">Event catering</a></li>
            <li {{ page == 'teamLunch' ? 'class="active"' : '' }}><a href="/team-lunch">Team lunch</a></li>
            <li {{ page == 'officeManagers' ? 'class="active"' : '' }}><a href="/office-managers">For office managers</a></li>
        </ul>
    </nav>
</aside>
