<aside class="col-sm-3 col-sm-offset-1 sidebar">
    <nav class="sidebar-menu" role="navigation">
        <ul class="nav nav-pills nav-stacked">
            <li {{ page == 'personalInformation' ? 'class="active"' : '' }}><a href="/customer/account">Personal information</a></li>
            <li {{ page == 'password' ? 'class="active"' : '' }}><a href="/customer/password">Password</a></li>
        </ul>
    </nav>
</aside>
