<div class="wrapper">
    <h1>Customer {{ customer.humanId }}: {{ customer.user.name }}, {{ customer.company }}</h1>

    <p>
        <a ng-href="/admin/global-id-lookup/{{ customer.id }}">View in global ID lookup</a>
    </p>

    <h2>History</h2>

    <cp-history-table document-id="customer.id" document-type="CityPantry\CustomerBundle\Document\Customer"></cp-history-table>

    <h2>Review history</h2>

    <cp-review-card ng-repeat="review in reviews" review="review"></cp-review-card>

    <p ng-show="reviews.length === 0">No reviews.</p>

    <h2>Details</h2>

    <p>Pay on account? {{ customer.paidOnAccountStatus | getPaidOnAccountStatusText }}</p>

    <p>Customer since: {{ customer.dateAdded | date:'dd/MM/yyyy' }}</p>

    <p>Email: {{ customer.email }}</p>

    <p>Phone number: {{ customer.phoneNumber }}</p>

    <p>User group: {{ customer.user.group.description }}</p>

    <p>
        Meal plan status: {{ customer.mealPlanStatus | getCustomerMealPlanStatusText }}.
        <a ng-if="customer.mealPlanStatusText === 'none'"
            ng-click="addToMealPlan()"
            class="cp-add-to-meal-plan">Add to meal plan</a>
    </p>

    <p>Persona: {{ customer.persona | getCustomerPersonaText }}</p>

    <h2>Edit</h2>

    <form class="admin-form" name="updateForm" ng-submit="save()">
        <fieldset>
            <div class="form-group">
                <label>Persona</label>
                <select class="form-control input-lg"
                    required
                    name="customerPersona"
                    ng-model="customerForEditing.persona"
                    ng-options="option.value as option.label for option in personaOptions"></select>
            </div>

            <input class="btn btn-primary btn-lg" type="submit" value="Save" />
        </fieldset>
    </form>

    <section ng-if="customer.paidOnAccountStatus === 0">
        <h2>Pay on account setup</h2>

        <p>
            The customer is not set up to pay on account. Fill in the form below to begin the set up process.<br />
            This will enable the 'activate pay on account' page for the customer, email the customer a link to the page. From there, the customer can fill in their accounts department's details and enable payment on account.
        </p>

        <form class="admin-form" role="form">
            <fieldset>
                <div class="form-group">
                    <label for="invoice_payment_terms">Payment terms</label>
                    <input class="form-control input-lg" id="invoice_payment_terms" type="text" ng-model="customer.invoicePaymentTerms" />
                </div>

                <div class="form-group">
                    <label for="max_spend_per_month">Account limit per month</label>
                    <div class="input-group input-group-lg input-group-readonly">
                        <div class="input-group-addon">£</div>
                        <input class="form-control input-lg" id="max_spend_per_month" type="number" min="1" step="0.01" ng-model="customer.maxSpendPerMonth" />
                    </div>
                </div>

                <button class="btn btn-primary" type="button" id="save_setup_details" ng-click="setUpRequestToPayOnAccount()">Set up</button>
            </fieldset>
        </form>
    </section>

    <section ng-if="customer.paidOnAccountStatus === 1">
        <h2>Pay on account details</h2>

        <p>The customer has been emailed and now must fill in their accounts department's details.</p>

        <form class="admin-form" role="form">
            <fieldset>
                <div class="form-group">
                    <label for="invoice_payment_terms">Payment terms</label>
                    <input class="form-control input-lg" id="invoice_payment_terms" type="text" ng-model="customer.invoicePaymentTerms" />
                </div>

                <div class="form-group">
                    <label for="max_spend_per_month">Account limit per month</label>
                    <div class="input-group input-group-lg input-group-readonly">
                        <div class="input-group-addon">£</div>
                        <input class="form-control input-lg" id="max_spend_per_month" type="number" min="1" step="0.01" ng-model="customer.maxSpendPerMonth" />
                    </div>
                </div>

                <button class="btn btn-primary" type="button" id="save_request_account_details" ng-click="updatePayOnAccountDetails()">Save</button>
            </fieldset>
        </form>
    </section>

    <section ng-if="customer.paidOnAccountStatus === 2">
        <h2>Pay on account details</h2>

        <form class="admin-form" role="form">
            <fieldset>
                <div class="form-group">
                    <label for="accounts_contact_name">Accounts contact name</label>
                    <input class="form-control input-lg" id="accounts_contact_name" type="text" ng-model="customer.accountsContactName" />
                </div>

                <div class="form-group">
                    <label for="accounts_email">Accounts email</label>
                    <input class="form-control input-lg" id="accounts_email" type="email" ng-model="customer.accountsEmail" />
                </div>

                <div class="form-group">
                    <label for="accounts_telephone_number">Accounts telephone number</label>
                    <input class="form-control input-lg" id="accounts_telephone_number" type="tel" ng-model="customer.accountsTelephoneNumber" />
                </div>

                <div class="form-group">
                    <label for="days_until_invoice_overdue">Days until invoice overdue</label>
                    <input class="form-control input-lg" id="days_until_invoice_overdue" type="number" ng-model="customer.daysUntilInvoiceOverdue" />
                </div>

                <div class="form-group">
                    <label for="invoice_payment_terms">Payment terms</label>
                    <input class="form-control input-lg" id="invoice_payment_terms" type="text" ng-model="customer.invoicePaymentTerms" />
                </div>

                <div class="form-group">
                    <label for="max_spend_per_month">Account limit per month</label>
                    <div class="input-group input-group-lg input-group-readonly">
                        <div class="input-group-addon">£</div>
                        <input class="form-control input-lg" id="max_spend_per_month" type="number" min="1" step="0.01" ng-model="customer.maxSpendPerMonth" />
                    </div>
                </div>

                <button class="btn btn-primary" type="button" id="save_enabled_account_details" ng-click="updatePayOnAccountDetails()">Save</button><br /><br />

                <button class="btn btn-primary" id="revoke_account" type="button" ng-click="revokePaymentOnAccount()">Revoke</button>
                <p class="help-block">If you click revoke, the customer should be called to let them know. No automatic email is sent.</p>
            </fieldset>
        </form>
    </section>

    <h2>Delivery addresses</h2>

    <ul>
        <li ng-repeat="address in customer.addresses">
            Label: {{ address.label }}<br />
            {{ address | addressSingleLineFormatter }}<br />
            Office manager: {{ address.officeManagerName }}<br />
            Company name: {{ address.companyName }}
        </li>
    </ul>

    <p ng-if="customer.addresses.length === 0">This customer has no delivery addresses.</p>
</div>
