<div class="cp-meal-plan-setup-steps-wrap">
    <ng-include src="getTemplateUrl('directives/cp-meal-plan-setup-steps.html')" ng-init="activeStep = 1"></ng-include>
</div>

<div class="thin-container">
    <div class="cp-meal-plan-setup">
        <div class="cp-meal-plan-setup-main">
            <h1 class="cp-heading">Delivery address</h1>

            <div class="cp-form-group" ng-if="addresses.length > 0">
                <label class="cp-form-label" for="saved_addresses">Saved location(s)</label>
                <select class="cp-form-control"
                        id="saved_addresses"
                        ng-model="preferences.deliveryAddress"
                        ng-options="address.id as address.label for address in addresses">
                    <option value="">Select</option>
                </select>
            </div>

            <hr ng-if="!preferences.deliveryAddress" />

            <cp-checkout-address-form ng-if="!preferences.deliveryAddress" address="address"></cp-checkout-address-form>

            <div ng-if="preferences.deliveryAddress">
                <p>The vendor will deliver your packages to:</p>

                <p class="cp-meal-plan-address" ng-bind-html="address | addressSingleLineFormatter:'<br />'"></p>

                <hr />

                <form class="cp-form cp-meal-plan-setup-form" name="forms.mealPlanSetupForm" novalidate role="form">
                    <fieldset>
                        <div class="cp-form-group">
                            <label class="cp-form-label" for="office_manager_name">
                                Contact name on arrival
                                <span class="form-element-invalid" ng-show="forms.mealPlanSetupForm.$submitted && forms.mealPlanSetupForm.officeManagerName.$error.required">Contact name is required</span>
                            </label>
                            <input class="cp-form-control"
                                   id="office_manager_name"
                                   name="officeManagerName"
                                   type="text"
                                   required
                                   aria-required="true"
                                   ng-model="address.officeManagerName" />
                        </div>

                        <div class="cp-form-group">
                            <label class="cp-form-label" for="landline_number">
                                Phone/Mobile
                                <span class="form-element-invalid" ng-show="forms.mealPlanSetupForm.$submitted && forms.mealPlanSetupForm.landlineNumber.$error.required">Phone/Mobile is required</span>
                            </label>
                            <input class="cp-form-control"
                                   id="landline_number"
                                   name="landlineNumber"
                                   type="tel"
                                   required
                                   aria-required="true"
                                   ng-model="address.landlineNumber" />
                        </div>

                        <hr />

                        <fieldset class="cp-meal-plan-setup-delivery-instruction">
                            <legend class="cp-heading">Instructions for arrival</legend>
                            <div class="cp-form-group">
                                <label class="cp-form-label" for="delivery_instruction">Do you have any instructions for the vendor’s arrival?</label>
                                <textarea class="cp-form-control"
                                          id="delivery_instruction"
                                          name="deliveryInstruction"
                                          rows="6"
                                          ng-model="address.deliveryInstruction"></textarea>
                            </div>
                        </fieldset>

                        <fieldset class="cp-meal-plan-setup-parking-suggestion">
                            <legend class="cp-heading">Parking</legend>
                            <div class="cp-form-group">
                                <label class="cp-form-label" for="parking_suggestion">Can you recommend anywhere to park nearby?</label>
                                <textarea class="cp-form-control"
                                          id="parking_suggestion"
                                          name="parkingSuggestion"
                                          rows="6"
                                          ng-model="address.parkingSuggestion"></textarea>
                            </div>
                        </fieldset>

                        <hr />

                    </fieldset>
                </form>
            </div>

            <button class="cp-btn cp-btn-primary cp-btn-lg" type="submit" ng-click="nextStep()">Next</button>
        </div>
    </div>
</div>
