<div class="container">
    <h1 class="cp-heading">Meal plans for {{ customer.company ? customer.company : '(company name not set)' }}</h1>

    <p ng-if="mealPlans.length === 0">
        There are currently no meal plans for this customer.
    </p>

    <ol>
        <li ng-repeat="mealPlan in mealPlans">
            ID: {{ mealPlan.humanId }}
            <br />
            Start date: {{ mealPlan.startDate | date:'d MMM yyyy HH:mm' }}
            <br />
            End date: {{ mealPlan.endDate | date:'d MMM yyyy HH:mm' }}
            <br />
            Status: {{ mealPlan.status | getMealPlanStatusText }}
            <br />

            <a ng-if="mealPlan.statusText === 'pending_staff_approval'"
                ng-href="/admin/meal-plan/customer/{{ customer.id }}/meal-plan/{{ mealPlan.id }}/review"
                class="cp-review-and-send-to-customer">
                Review and send to customer
            </a>

            <span ng-if="mealPlan.statusText === 'pending_customer_approval'">
                This meal plan is pending customer approval
            </span>

            <span ng-if="mealPlan.statusText === 'active'">
                This meal plan has been approved by the customer
            </span>
        </li>
    </ol>
</div>
