<div class="wrapper">
    <h1 class="cp-heading">Orders stats</h1>

    <h2 class="cp-heading">Sales per day</h2>

    <p>
        Orders included can have any status (accepted or pending).
        Excludes deleted orders.
        Sales are grouped into UTC days.
        Sales are after promo codes have been applied.
    </p>

    <div ng-if="isReady">
        <h3 class="cp-heading">August</h3>

        <p><b>Month total: {{ getTotalInMonth(august) }}</b></p>

        <p ng-repeat="day in august">{{ day.start | date:'d' }}: {{ day.sales }}</p>

        <h3 class="cp-heading">July</h3>

        <p><b>Month total: {{ getTotalInMonth(july) }}</b></p>

        <p ng-repeat="day in july">{{ day.start | date:'d' }}: {{ day.sales }}</p>

        <h3 class="cp-heading">June</h3>

        <p><b>Month total: {{ getTotalInMonth(june) }}</b></p>

        <p ng-repeat="day in june">{{ day.start | date:'d' }}: {{ day.sales }}</p>

        <h3 class="cp-heading">May</h3>

        <p><b>Month total: {{ getTotalInMonth(may) }}</b></p>

        <p ng-repeat="day in may">{{ day.start | date:'d' }}: {{ day.sales }}</p>

        <h3 class="cp-heading">April</h3>

        <p><b>Month total: {{ getTotalInMonth(april) }}</b></p>

        <p ng-repeat="day in april">{{ day.start | date:'d' }}: {{ day.sales }}</p>
    </div>
</div>
