@import 'mixins/cp-arrows';

a[ng-click] {
    cursor: pointer;
}

.btn-primary {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.link-account {
    @include cp-font-title(16px);

    &::after {
        @include cp-arrow-right(5px, 5px, $cp-secondary-color);
    }
}
