@import 'modules/cp-bootstrap-variables';
@import '../lib/bootstrap-sass/assets/stylesheets/bootstrap';

@import '../lib/ng-grid/ui-grid.scss';
@import '../lib/angular-slider/angular-slider.scss';
@import '../lib/angular-ui-datepicker.scss';
@import '../lib/angular-ui-carousel.scss';

@import 'directives/cp-header';
@import 'directives/cp-address-form';
@import 'partials/cp-search';
@import 'partials/cp-header';
@import 'partials/cp-login';
@import 'partials/cp-package';

/**
 * Misc
 */

body {
    quotes: '\201c' '\201d';
}

.form-inline-xs .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

.form-inline-xs .form-control {
    display: inline-block;
    vertical-align: middle;
    width: auto;
}

.island,
.island-alt {
    background-color: #efefef;
    border-radius: 4px;
    margin-bottom: 1.5rem;
    padding: 20px;
}

.island-alt {
    background-color: #fff;
    border: 1px solid #dedede;
    padding: 19px;
}

.link-inactive {
    cursor: default;
}

.quote-header,
.vendor-signup-header {
    background-position: 50% 60%;
    background-size: cover;
    height: 220px;
}

.quote-header {
    background-image: url(/dist/images/street_food2.jpg);
    background-position: 50% 50%;
}

.vendor-signup-header {
    background-image: url(/dist/images/street_food10.jpg);
    background-position: 50% 45%;
}

/**
 * Sidebar
 */

.sidebar h4 {
    color: #444;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: .317rem;
}

.sidebar .nav {
    border: 1px solid #dedede;
    border-radius: 4px;
    font-size: 1.125rem;
    margin-bottom: 1.5rem;
}

.sidebar .nav li {
    border-top: 1px solid #dedede;
}

.sidebar .nav li:first-child {
    border: 0;
}

.sidebar .nav > li > a {
    padding: .75rem 15px;
}

.sidebar .nav > li > a:hover,
.sidebar .nav > li > a:focus {
    background-color: transparent;
}

.sidebar .nav-pills > li.active > a,
.sidebar .nav-pills > li.active > a:hover,
.sidebar .nav-pills > li.active > a:focus {
    background-color: transparent;
    color: #444;
}

.sidebar .nav-stacked > li + li {
    margin-top: 0;
}

.sidebar .nav span {
    color: #777;
    float: right;
    font-size: .844rem;
    padding-top: 3px;
}

/* Page wrapper */
.wrapper {
    margin: 0 auto;
    max-width: $screen-lg;
    padding: 0 $grid-gutter-width $grid-gutter-width $grid-gutter-width;
}
.thin-wrapper {
    width: 630px;
    margin: 0 auto;
}
// Wide wrapper used in admin pages.
.wide-wrapper {
    padding: 0 $grid-gutter-width $grid-gutter-width $grid-gutter-width;
}

/**
 * Pages
 */

.cta {
	border-top: 1px solid #dedede;
	text-align: center;
}

@media only screen and (min-width: 992px) {
	.cta {
		text-align: left;
	}
}

.cta h3 {
	font-size: 1.777rem;
	font-weight: 400;
	margin: 0 0 1.5rem;
}

@media only screen and (min-width: 992px) {
	.cta h3 {
		font-size: 2.369rem;
		margin: 0;
		padding-top: .317rem;
		text-align: right;
	}
}

.cta p {
	margin-bottom: .75rem;
}

@media only screen and (min-width: 992px) {
	.cta .wrapper {
		padding-top: 3.157rem;
		padding-bottom: 3.157rem;
	}
}

.cta .btn + .btn {
	margin: .75rem 0 0;
}

@media only screen and (min-width: $screen-sm-min) {
	.cta .btn + .btn {
		margin: 0 0 0 10px;
	}
}

.package-group {
    margin-bottom: 1.5rem;
}

.section-title {
    font-family: franklin-gothic-urw-comp, 'arial narrow', 'helvetica neue', helvetica, sans-serif;
    font-size: 2.369rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
    text-align: center;
}

@media only screen and (min-width: $screen-sm-min) {
    .section-title {
        font-size: 4.209rem;
        margin-bottom: 2rem;
    }
}

.used-by {
    text-align: center;
}

.used-by-packages {
    border-top: 1px solid #dedede;
}

.used-by .wrapper {
    border-top: 1px solid #dedede;
}

@media only screen and (min-width: $screen-sm-min) {
    .used-by .wrapper {
        padding-top: 4.209rem;
        padding-bottom: 4.209rem;
    }
}

.used-by-packages .wrapper {
    border: 0;
}

.used-by-heading {
    color: #999;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
    text-align: center;
}

@media only screen and (min-width: $screen-sm-min) {
    .used-by-heading {
        font-size: 1.333rem;
    }
}

.used-by .used-by-heading {
    margin-bottom: 2rem;
}

.used-by-logos {
    list-style: none;
    padding: 0;
    text-align: center;
}

@media only screen and (min-width: $screen-sm-min) {
    .used-by-logos {
        margin: 0 -15px;
    }
}

.used-by-logos li {
    margin-bottom: 1rem;
    text-align: center;
}

@media only screen and (min-width: $screen-sm-min) {
    .used-by-logos li {
        display: inline-block;
        height: 58px;
        padding: 0 15px;
    }
}

.used-by-logos img {
    opacity: .75;
}

.used-by-logos .eventbrite img {
    height: 52px;
    width: 170px;
}

.used-by-logos .google img {
    height: 58px;
    width: 170px;
}

.used-by-logos .moo img {
    height: 56px;
    width: 170px;
}

.used-by-logos .spotify img {
    height: 51px;
    width: 170px;
}

.used-by-logos .uber img {
    height: 24px;
    width: 170px;
}

/* Gallery */
.budget-range {
    font-size: .844rem;
    margin-bottom: 0;
    overflow: hidden;
}

@media only screen and (min-width: $screen-sm-min) {
    .filter-form {
        margin-top: 3.375rem;
    }
}

@media only screen and (min-width: $screen-sm-min) {
    .filter-package {
        display: block !important;
    }
}

.form-group.filter-package-budget {
    margin: 2rem 0;
}

.filter-package-budget label {
    display: block;
}

.filter-selected {
    border: 1px solid #dedede;
    border-radius: 4px;
    font-size: 1.125rem;
    margin-bottom: 1rem;
    padding: .75rem 15px;
}

.filter-selected .close {
    padding-top: 3px;
}

.packages {
    font-size: 1rem;
    list-style: none;
    margin: 0 -15px 0;
    overflow: hidden;
    padding: 0;
}

.package {
    float: left;
    padding: 0 15px 15px;
    width: 50%;
}

@media only screen and (min-width: $screen-sm-min) {
    .package {
        padding-bottom: 30px;
    }
}

@media only screen and (min-width: $screen-sm-min) {
    .package {
        width: 33.333%;
    }
}

.package > a:first-child {
    display: block;
    position: relative;
}

.package a:hover,
.package a:focus,
.package a:active {
    text-decoration: none;
}

.package-image {
    background: 50% 50% no-repeat;
    background-size: cover;
    margin-bottom: .75rem;
    padding-bottom: 100%;
}

.package-image-wrap {
    position: relative;
}

.package-includes {
    list-style-type: disc;
    margin: 0;
    padding: 0 0 0 20px;
}

.package-includes-title {
    font-size: 1rem;
    font-weight: 400;
    margin: .75rem 0 .178rem;
}

.package-name {
    color: #428bca;
    font-size: 1.125rem;
    font-weight: 400;
    margin: 0;
}

.package a:hover .package-name,
.package a:focus .package-name,
.package a:active .package-name {
    color: #2a6496;
    text-decoration: underline;
}

.package-price {
    color: #444;
    font-size: .844rem;
}

@media only screen and (min-width: $screen-sm-min) {
    .package-price {
        background-color: #242157;
           -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
                border-radius: 50px;
        color: #fff;
        font-size: 1.5rem;
        height: 90px;
        line-height: 1;
        opacity: .9;
        padding-top: 27px;
        position: absolute;
        top: 7px;
        right: 7px;
        text-align: center;
           -moz-transition: all .2s;
        -webkit-transition: all .2s;
                transition: all .2s;
        width: 90px;
    }
}

.package-price small {
    color: #777;
    font-size: 100%;
}

@media only screen and (min-width: $screen-sm-min) {
    .package-price small {
        color: rgba(255, 255, 255, .5);
        display: block;
        font-size: .844rem;
    }
}

.package a:hover .package-price,
.package a:focus .package-price,
.package a:active .package-price {
    opacity: 1;
}

.package .btn-order {
    @extend .btn-primary;
    margin: 0 auto;
    position: absolute;
    right: 0;
    bottom: 15px;
    left: 0;
    width: 60%;
}

@media only screen and (min-width: $screen-sm-min) {
    .package .btn-order {
        width: 35%;
    }
}

@media only screen and (min-width: 992px) {
    .package .btn-order {
        width: 40%;
    }
}

.package a:hover .btn-order,
.package a:focus .btn-order,
.package a:active .btn-order {
    background-color: #297566;
}

/* Package */

.package-heading {
    margin-bottom: .178rem;
}

.package-labels {
    list-style: none;
    margin: .475rem 0 0;
    padding: 0;
}

.package-labels li {
    background-color: #dedede;
    border-radius: 2px;
    color: #777;
    display: inline;
    font-size: .844rem;
    line-height: 1;
    margin-left: .317rem;
    padding: .2em .6em .3em;
    text-align: center;
}

.package-labels li:first-child {
    margin: 0;
}

.package-order-form {
    background-color: #efefef;
    border-radius: 4px;
    margin-bottom: 2rem;
    padding: 20px;
}

.package-order-form > small {
    color: #777;
    display: block;
    font-size: .844rem;
    line-height: 1.333;
}

.package-order-form .form-group {
    margin-bottom: .75rem;
}

.package-order-form-price {
    font-size: 1.777rem;
    line-height: 1.333;
    margin: 0;
}

@media only screen and (min-width: $screen-sm-min) {
    .package-order-form-price {
        font-size: 2.369rem;
    }
}

.package-order-form-price small {
    color: #777;
    font-size: 1rem;
}

@media only screen and (min-width: $screen-sm-min) {
    .package-order-form-price small {
        font-size: 1.333rem;
    }
}

.package-order-form-price-min {
    color: #aaa;
    margin-bottom: 1rem;
}

@media only screen and (min-width: $screen-sm-min) {
    .package-order-form-price-min {
        font-size: 1.125rem;
    }
}

.package-order-form-submit {
    margin: 1.5rem 0 .75rem;
}

.package-review {
    margin-bottom: 1.5rem;
}

.package-review-name {
    font-weight: 400;
    margin-bottom: .317rem;
}

.package-review-name small {
    font-size: .938rem;
    margin-left: 5px;
}

.package-reviews {
    border-top: 1px solid #dedede;
}

.package-reviews h2 {
    margin-bottom: 1.5rem;
}

.package-reviews .wrapper {
    padding-top: 2.665rem;
}

.package-short-description {
    color: #777;
    font-size: 1.125rem;
    line-height: 1.333;
    margin: 0;
}

@media only screen and (min-width: $screen-sm-min) {
    .package-short-description {
        font-size: 1.333rem;
    }
}

.package-slideshow {
    margin-bottom: 1.5rem;
}

.pkg-header {
    margin-bottom: 1.5rem;
}

.related-packages {
    background-color: #efefef;
}

.related-packages h2 {
    margin-bottom: 1.5rem;
}
.related-packages [cp-package-card] h2 {
    margin-bottom: 0;
}

@media only screen and (min-width: $screen-sm-min) {
    .related-packages .package {
        width: 25%;
    }
}

.related-packages .wrapper {
    padding-top: 2.665rem;
}

.share-links {
    display: none;
    height: 21px;
    list-style: none;
    margin: 1.777rem 0 0;
    padding: 0;
}

@media only screen and (min-width: $screen-sm-min) {
    .share-links {
        display: block;
    }
}

.share-links li {
    display: inline;
}

.vendor-contact-details {
    margin-bottom: 1.5rem;
}

.vendor-contact-details p {
    font-size: .844rem;
    font-weight: 700;
    margin-bottom: 0;
    text-align: center;
}

.vendor-image {
    background: url(/dist/images/image_tmpl.png) 50% 50% no-repeat;
    background-size: cover;
    border-radius: 120px;
    display: block;
    height: 120px;
    margin: 0 auto 1.5rem;
    width: 120px;
}

.vendor-name {
    margin-bottom: 0;
    text-align: center;
}

.vendor-name a {
    color: #222;
}

.vendor-type {
    color: #777;
    font-size: .844rem;
    text-align: center;
    text-transform: uppercase;
}

/* Payment */
.add-card-form-wrapper {
    position: relative;
}

.add-card-form-wrapper .payment-methods {
    margin: 0 0 1.5rem;
}

.expiry-date label {
    display: block;
}

.expiry-date select {
    display: inline;
    width: auto;
}

#card-cvc {
    width: auto;
}

#card-expiry-year {
    margin-left: 10px;
}

.payment-methods {
    list-style: none;
    margin: 0 0 1.5rem;
    padding: 0;
}

@media only screen and (min-width: 992px) {
    .payment-methods {
        margin: 2rem 0 0;
    }
}

.payment-methods li {
    background: url(/dist/images/sprite.png) no-repeat;
    display: inline-block;
    height: 35px;
    margin-right: 10px;
    text-indent: -9999px;
    width: 48px;
}

.payment-methods .visa {
    background-position: 0 -700px;
}

.payment-methods .amex {
    background-position: -100px -700px;
}

.payment-methods .mastercard {
    background-position: 0 -800px;
}

.payment-methods .maestro {
    background-position: -100px -800px;
}

.payment-methods .payment-method-info {
    background: none;
    height: auto;
    position: relative;
    top: 5px;
    text-indent: 0;
    width: auto;
}

.security {
    color: #777;
    position: absolute;
    top: 0;
    right: 15px;
}

.security:before {
    background: url(/dist/images/sprite.png) 0 -900px no-repeat;
    content: '';
    display: inline-block;
    height: 16px;
    opacity: .5;
    padding-right: 5px;
    position: relative;
    top: 3px;
    left: -2px;
    width: 16px;
}

/**
 * Vendor sign up
 */

.selling-point h3 {
    color: #444;
    font-weight: 400;
    text-align: center;
}

.selling-point p {
    color: #777;
}

.selling-points .used-by-logos {
    margin-bottom: 1rem;
}

@media only screen and (min-width: $screen-sm-min) {
    .selling-points .used-by-logos li {
        height: 31px;
    }
}

.selling-points .used-by-logos .eventbrite img {
    height: 27px;
    width: 90px;
}

.selling-points .used-by-logos .google img {
    height: 31px;
    width: 90px;
}

.selling-points .used-by-logos .moo img {
    height: 30px;
    width: 90px;
}

.selling-points .used-by-logos .spotify img {
    height: 27px;
    width: 90px;
}

.vendor-signup-steps {
    display: none;
}

@media only screen and (min-width: $screen-sm-min) {
    .vendor-signup-steps {
        border-bottom: 1px solid #dedede;
        display: block;
        margin-bottom: 1.5rem;
    }

    .vendor-signup-steps ul {
        font-size: 1.125rem;
    }

    .vendor-signup-steps li {
        display: inline-block;
        width: 33.333%;
    }

    .vendor-signup-steps a {
        border-bottom: 3px solid #fff;
        color: #777;
        display: block;
        padding: 20px 20px 17px;
        text-align: center;
    }

    .vendor-signup-steps a:hover,
    .vendor-signup-steps a:focus,
    .vendor-signup-steps a:active {
        border-color: #efefef;
        color: #428bca;
        text-decoration: none;
    }

    .vendor-signup-steps .link-inactive:hover,
    .vendor-signup-steps .link-inactive:focus,
    .vendor-signup-steps .link-inactive:active {
        border-color: #fff;
        color: #777;
    }

    .vendor-signup-steps .active a,
    .vendor-signup-steps .active a:hover,
    .vendor-signup-steps .active a:focus,
    .vendor-signup-steps .active a:active {
        border-color: #2e8272;
        color: #444;
        font-weight: 700;
    }

    .vendor-signup-steps .wrapper {
        padding-top: 0;
        padding-bottom: 0;
    }
}

/**
 * Contact
 */

.modal-header p {
    margin: .317rem 0 0;
}

.modal-body .form-group:last-child {
    margin-bottom: 0;
}

/**
 * Orders
 */

@media only screen and (min-width: $screen-sm-min) {
    .order-details-modal .btn {
        display: inline-block;
        width: auto !important;
    }

    .order-details-modal .btn-block + .btn-block {
        margin-top: 0;
    }
}

.order-details-table {
    margin-bottom: 0;
}

.order-details-table > tbody > tr > th,
.order-details-table > tbody > tr > td {
    border-top: 0;
}

.order-details-table > tbody > tr > th {
    color: #777;
    font-weight: 400;
}

.order-details-table > tbody > tr > td {
    color: #444;
}

/**
 * Vendor
 */

.vendor-packages h1 {
    margin-bottom: 1.5rem;
}

.vendor-packages .package {
    width: 50%;
}

.vendors {
    list-style: none;
    margin: 2rem -15px 0;
    overflow: hidden;
    padding: 0;
}

.vendors .vendor {
    float: left;
    padding: 0 15px 15px;
    text-align: center;
    width: 50%;
}

@media only screen and (min-width: $screen-sm-min) {
    .vendors .vendor {
        padding-bottom: 30px;
        width: 25%;
    }
}

.vendors .vendor a {
    display: block;
}

.vendors .vendor a:hover,
.vendors .vendor a:focus,
.vendors .vendor a:active {
    text-decoration: none;
}

.vendors .vendor-name {
    color: #428bca;
    font-size: 1.125rem;
    font-weight: 400;
}

.vendors .vendor a:hover .vendor-name,
.vendors .vendor a:focus .vendor-name,
.vendors .vendor a:active .vendor-name {
    color: #2a6496;
    text-decoration: underline;
}

hr {
    height: 3px;
    color: #eee;
    background-color: #eee;
    clear: both;
}

@import 'directives/cp-package-card.scss';
@import 'admin/general.scss';
@import 'customer/account-details.scss';
@import 'customer/search.scss';
@import 'customer/view-package.scss';
@import 'vendor/delivery-radiuses.scss';
@import 'vendor/orders.scss';
@import 'vendor/packages.scss';
@import 'footer.scss';
@import 'form.scss';
@import 'links.scss';
@import 'loading.scss';
@import 'modal.scss';
