{% extends 'base.html.twig' %}

{% block title %}My details | City Pantry{% endblock %}

{% block body %}
    <div class="vendor-signup-header"></div>

    <main role="main">
        <div class="wrapper">
            <div class="row">
                <div class="col-sm-8">
                    <h1>My details</h1>

                    <h2>Personal information</h2>

                    <form>
                        <fieldset>
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input class="form-control input-lg" id="name" name="name" type="text" value="{{ user.user.name }}" required="" aria-required="true">
                            </div>

                            <div class="form-group">
                                <label for="company">Company name</label>
                                <input class="form-control input-lg" id="company" name="company" type="text" value="{{ user.customer.company }}" required="" aria-required="true">
                            </div>

                            <div class="form-group">
                                <label for="email">Email</label>
                                <input class="form-control input-lg" id="email" name="email" type="email" value="{{ user.user.email }}" required="" aria-required="true">
                            </div>

                            <div class="form-group">
                                <label for="telno">Contact telephone number</label>
                                <input class="form-control input-lg" id="telno" name="telno" type="tel" value="{{ user.customer.phoneNumber }}" required="" aria-required="true">
                            </div>

                            <input class="btn btn-primary btn-lg" type="submit" value="Save changes">
                        </fieldset>
                    </form>
                </div>

                {% include 'sidebar/4.html.twig' with {page: 'personalInformation'} %}
            </div>
        </div>
    </main>
{% endblock %}
