<form name="form" ng-submit="save()">
    <p class="form-error" ng-show="error" ng-bind="error"></p>

    <div class="form-group">
        <label for="address_line1">
            Address line 1
            <span class="form-element-invalid" ng-show="form.$submitted && form.addressLine1.$error.required">(Address line 1 is required.)</span>
        </label>

        <input class="form-control input-lg" id="address_line1" name="addressLine1" required aria-required="true" ng-model="address.addressLine1" />
    </div>

    <div class="form-group">
        <label for="address_line2">Address line 2</label>

        <input class="form-control input-lg" id="address_line2" name="addressLine2" ng-model="address.addressLine2" />
    </div>

    <div class="form-group">
        <label for="address_line3">Address line 3</label>

        <input class="form-control input-lg" id="address_line3" name="addressLine3" ng-model="address.addressLine3" />
    </div>

    <div class="form-group">
        <label for="city">
            City
            <span class="form-element-invalid" ng-show="form.$submitted && form.city.$error.required">(City is required.)</span>
        </label>

        <input class="form-control input-lg" id="city" name="city" required aria-required="true" ng-model="address.city" />
    </div>

    <div class="form-group">
        <label for="county">County</label>

        <input class="form-control input-lg" id="county" name="county" ng-model="address.county" />
    </div>

    <div class="form-group">
        <label for="postcode">
            Postcode
            <span class="form-element-invalid" ng-show="form.$submitted && form.postcode.$error.required">(Postcode is required.)</span>
            <span class="form-element-invalid" ng-show="form.$submitted && form.postcode.$error.pattern">(Postcode is invalid.)</span>
        </label>

        <input class="form-control input-lg" id="postcode" name="postcode" required aria-required="true" ng-model="address.postcode" ng-pattern="/[a-zA-Z]{1,2}[0-9][0-9A-Za-z]?\s?[0-9][a-zA-Z]{2}/" />
    </div>

    <input name="countryName" type="hidden" required aria-required="true" ng-model="address.countryName" />

    <div class="form-group">
        <label for="landline_number">
            Landline number
            <span class="form-element-invalid" ng-show="form.$submitted && form.LandlineNumber.$error.required">(Landline number is required.)</span>
        </label>

        <input class="form-control input-lg" id="landline_number" name="landlineNumber" type="tel" required aria-required="true" ng-model="address.landlineNumber" />
    </div>

    <div class="form-group">
        <label for="order_notification_mobile_number">
            Order notification mobile number
            <span class="form-element-invalid" ng-show="form.$submitted && form.orderNotificationMobileNumber.$error.required">(Order notification mobile number is required.)</span>
            <span class="form-element-invalid" ng-show="form.$submitted && form.orderNotificationMobileNumber.$error.pattern">(Order notification mobile number is invalid.)</span>
        </label>

        <input class="form-control input-lg" id="order_notification_mobile_number" name="orderNotificationMobileNumber" type="tel" required aria-required="true" ng-model="address.orderNotificationMobileNumber" ng-pattern="/^(\+44\s?7\d{3}|\(?07\d{3}\)?)\s?\d{3}\s?\d{3}$/" />
    </div>

    <div class="form-group">
        <label for="contact_name">
            Contact name
            <span class="form-element-invalid" ng-show="form.$submitted && form.contactName.$error.required">(Contact name is required.)</span>
        </label>

        <input class="form-control input-lg" id="contact_name" name="contactName" required aria-required="true" ng-model="address.contactName" />
    </div>

    <input type="submit" value="Save" class="btn btn-primary" />
</form>
