<section class="cp-order-details" ng-if="order">
    <h3 class="cp-order-details-heading">Your order</h3>

    <p class="cp-order-details-edit-notice" ng-show="isEditOrderNoticeDisplayed">
        To make a change to this order, please call us on
        <a ng-href="tel:{{ CP_TELEPHONE_NUMBER_INTERNATIONAL }}">{{ CP_TELEPHONE_NUMBER_UK }}</a>.
    </p>

    <dl>
        <dt>Delivery time</dt>
        <dd class="cp-order-details-delivery-time">{{ order.requestedDeliveryDate | date:'HH:mm' }}</dd>

        <dt>No. of people?</dt>
        <dd class="cp-order-details-head-count">{{ order.headCount }}</dd>

        <dt>Dietary requirements</dt>
        <dd class="cp-order-details-dietary-requirements"
            ng-if="order.dietaryRequirements"
            ng-bind-html="order.dietaryRequirements | dietaryRequirementsFormatter"></dd>

        <dt class="cp-order-details-total">Total</dt>
        <dd class="cp-order-details-total">{{ order.totalAmountAfterPromoCode | currency:'£' }}</dd>
    </dl>

    <a class="cp-order-details-edit"
            ng-if="isEditable"
            ng-click="isEditOrderNoticeDisplayed = true">
        Edit<span class="sr-only"> order</span>
    </a>
</section>
