<div class="cp-search-package" ng-if="package">
    <div class="cp-search-package-photo">
        <img ng-src="{{ package.images[0].medium }}">
    </div>
    <div class="cp-search-package-info">
        <div class="cp-search-package-name" ng-bind="package.name" js-clamp="'2'"></div>
        <div class="cp-search-package-vendor">{{ package.vendor.name }}</div>
    </div>
    <div class="cp-search-package-price-tag">
        <span class="cp-search-package-price">{{ package.costIncludingVat | currency:'£' }}</span>
        <!--span class="cp-search-package-price-info">per head</span-->
    </div>
</div>
