<ul class="{{ listClass }}">
    <li ng-if="summary.foodQualityRating !== null">
        <span class="{{ attributeNameClass }}">Food quality</span>
        <div class="{{ attributeValueClass }}" cp-rating-stars="summary.foodQualityRating">
        </div>
    </li>
    <li ng-if="summary.presentationRating !== null">
        <span class="{{ attributeNameClass }}">Presentation</span>
        <div class="{{ attributeValueClass }}" cp-rating-stars="summary.presentationRating">
        </div>
    </li>
    <li ng-if="summary.deliveryRating !== null">
        <span class="{{ attributeNameClass }}">Delivery</span>
        <div class="{{ attributeValueClass }}" cp-rating-stars="summary.deliveryRating">
        </div>
    </li>
    <li ng-if="summary.overallRating !== null">
        <span class="{{ attributeNameClass }}">Overall</span>
        <div class="{{ attributeValueClass }}" cp-rating-stars="summary.overallRating">
        </div>
    </li>
</ul>
