<div class="col-md-5">
    <div class="cp-package-detail-image" style="background-image: url('{{ package.images[0].medium }}')"></div>
</div>

<div class="cp-package-detail-right col-md-7">
    <h3 class="cp-heading">{{ package.name }}</h3>

    <p class="cp-package-detail-vendor-name">{{ package.vendor.name }}</p>

    <p class="cp-package-detail-short-description" ng-if="package.shortDescription" js-clamp="'3'">{{ package.shortDescription }}</p>

    <a ng-href="/package/{{ package.humanId }}-{{ package.name | slugify }}">
        View details
    </a>

    <a ng-href="/team/{{ teamReviewCustomerId }}/order/{{ teamReviewOrderId }}" ng-if="showTeamReviewLink">
        Write a review
    </a>
</div>
