<ul class="{{ listClass }}">
    <li ng-if="summary.qualityRating !== null">
        <span class="{{ attributeNameClass }}">Quality</span>
        <div class="{{ attributeValueClass }}" cp-rating-stars="summary.qualityRating">
        </div>
    </li>
    <li ng-if="summary.valueRating !== null">
        <span class="{{ attributeNameClass }}">Value</span>
        <div class="{{ attributeValueClass }}" cp-rating-stars="summary.valueRating">
        </div>
    </li>
    <li ng-if="summary.presentationRating !== null">
        <span class="{{ attributeNameClass }}">Presentation</span>
        <div class="{{ attributeValueClass }}" cp-rating-stars="summary.presentationRating">
        </div>
    </li>
    <li ng-if="summary.communicationRating !== null">
        <span class="{{ attributeNameClass }}">Communication</span>
        <div class="{{ attributeValueClass }}" cp-rating-stars="summary.communicationRating">
        </div>
    </li>
    <li ng-if="summary.onTimePercentage !== null">
        <span class="{{ attributeNameClass }}">On time</span>
        <div class="{{ attributeValueClass }}">
            {{ summary.onTimePercentage }}%
        </div>
    </li>
</ul>
