<li class="dropdown" ng-click="showMyAccountDropdown = !showMyAccountDropdown" ng-class="{open: showMyAccountDropdown}">
    <a id="dLabel" href="#" role="button" data-toggle="dropdown">My account <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <li role="presentation"><a tabindex="-1" href="/customer/orders" role="menuitem">Orders</a></li>
        <li role="presentation"><a tabindex="-1" href="/customer/addresses" role="menuitem">Addresses</a></li>
        <li role="presentation"><a tabindex="-1" href="/customer/cards" role="menuitem">Cards</a></li>
        <li role="presentation"><a tabindex="-1" href="/customer/account" role="menuitem">My details</a></li>
        <li role="presentation"><a tabindex="-1" href="/logout" role="menuitem">Log out</a></li>
    </ul>
</li>
<li><a class="hidden-sm" href="{{ hubspotBase }}/faq">FAQ</a></li>
<li><a class="hidden-sm" href="/quote">Event quote</a></li>
<li class="hidden-xs call">
    <span>Any questions? Call us:</span>
    <a href="tel:{{ phoneNumberInternational }}">{{ phoneNumberUk }}</a>
</li>
