<li><a href="/login">Log in / Sign up</a></li>
<li><a class="hidden-sm" href="{{ hubspotBase }}/faq">FAQ</a></li>
<li><a class="hidden-sm" href="/quote">Event quote</a></li>
<li class="hidden-xs call">
    <span>Any questions? Call us:</span>
    <a href="tel:{{ phoneNumberInternational }}">{{ phoneNumberUk }}</a>
</li>
