<li class="dropdown" ng-click="showMyAccountDropdown = !showMyAccountDropdown" ng-class="{open: showMyAccountDropdown}">
    <a id="dLabel" href="#" role="button" data-toggle="dropdown">My account <span class="caret"></span></a>

    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <li role="presentation"><a tabindex="-1" href="/vendor-portal/orders" role="menuitem">Orders</a></li>
        <li role="presentation"><a tabindex="-1" href="/vendor/admin/profile" role="menuitem">Profile</a></li>
        <li role="presentation"><a tabindex="-1" href="/vendor/admin/packages" role="menuitem">Packages</a></li>
        <li role="presentation"><a tabindex="-1" href="/vendor/admin/create_package" role="menuitem">Create package</a></li>
        <li role="presentation"><a tabindex="-1" href="{{ hubspotBase }}/agreement" role="menuitem">Supplier agreement</a></li>
        <li role="presentation"><a tabindex="-1" href="/customer/account" role="menuitem">My details</a></li>
        <li role="presentation"><a tabindex="-1" href="/logout" role="menuitem">Log out</a></li>
    </ul>
</li>
