<div class="container">
    <cp-meal-plan-header ng-if="mealPlan"
        cp-number-of-orders="placedOrders.length"
        cp-total-cost="totalCost"
        cp-duration="mealPlan.requirementsAtGeneration.durationText"
        cp-delivery-address="mealPlan.requirementsAtGeneration.deliveryAddress"
        ></cp-meal-plan-header>

    <div class="cp-meal-plan-review">
        <div class="cp-meal-plan-review-main">
            <ul class="cp-meal-plan-review-orders">
                <li class="cp-meal-plan-review-order"
                    ng-repeat="order in placedOrders"
                    ng-click="selectOrder(order)"
                    ng-class="{
                        'selected': selectedOrder === order
                    }">

                    <div class="cp-meal-plan-review-order-date">
                        <span class="cp-meal-plan-review-order-day">
                            {{ order.requestedDeliveryDate | date:'EEE' }}
                        </span>

                        {{ order.requestedDeliveryDate | date:'dd/MM' }}
                    </div>

                    <div class="cp-meal-plan-review-order-package-image"
                        style="background-image: url('{{ order.package.images[0].medium }}')"></div>

                    <div class="cp-meal-plan-review-order-package-info">
                        <span class="cp-meal-plan-review-order-package-name">{{ order.package.name }}</span>
                        <span class="cp-meal-plan-review-order-vendor-name">{{ order.package.vendor.name }}</span>
                    </div>

                    <div class="cp-meal-plan-review-order-review-button"
                            ng-if="showReviewButton(placedOrder)">
                        <a ng-href="/customer/orders/{{placedOrder.id}}/leave-a-review">!</a>
                    </div>
                </li>
            </ul>
        </div>

        <div class="cp-meal-plan-review-sidebar">
            <aside class="cp-meal-plan-review-aside" ng-if="selectedOrder">
                <header>
                    <h2 class="sr-only">Your order</h2>
                    <span class="cp-meal-plan-review-aside-order-date">
                        <b>{{ selectedOrder.requestedDeliveryDate | date:'EEE' }},</b>
                        {{ selectedOrder.requestedDeliveryDate | date:'dd/MM/yy' }}
                    </span>
                </header>

                <cp-package-card package="selectedOrder.package"></cp-package-card>

                <cp-package-rating cp-summary="reviewsSummary" cp-style="horizontal" ng-if="reviewsSummary"
                    ></cp-package-rating>

                <p class="cp-meal-plan-review-aside-package-description" js-clamp="'3'">
                    {{ selectedOrder.package.description }}
                </p>

                <cp-order-details order="selectedOrder"
                    cp-is-editable="false"></cp-order-details>

                <a class="cp-btn cp-btn-default cp-btn-lg cp-btn-block"
                    ng-href="/package/{{ selectedOrder.package.humanId }}-{{ selectedOrder.package.name | slugify }}"
                    >View details</a>
            </aside>
        </div>
    </div>
</div>
