<div class="account-main thin-wrapper">
    <h2 class="cp-heading">Account details</h2>

    <div ng-show="!showEditDetailsForm">
        <p class="account-details-summary">
            {{ authUser.customer.company }}<br />
            {{ authUser.user.name }}<br />
            {{ authUser.user.email }}
        </p>

        <a ng-click="showEditDetailsForm = true" class="link-account">Edit</a>
    </div>

    <div class="account-edit-form" ng-show="showEditDetailsForm">
        <form ng-submit="save()">
            <div class="account-edit-form-inputs">
                <label class="cp-form-label" for="company_name">Company name</label>
                <input class="cp-form-control" size="40" type="text" required
                    ng-model="inputs.customer.company" id="company_name" />
                <br />

                <label class="cp-form-label" for="user_name">Full name</label>
                <input class="cp-form-control" size="40" type="text" required
                    ng-model="inputs.user.name" id="user_name" />
                <br />

                <label class="cp-form-label" for="user_email">Email address</label>
                <input class="cp-form-control" size="40" type="email" required
                    ng-model="inputs.user.email" id="user_email" />
            </div>

            <input type="submit" value="Save changes" class="btn btn-primary" />
            <a class="btn btn-link" ng-click="cancel()">Cancel</a>
        </form>
    </div>

    <hr />

    <h2 class="cp-heading">Delivery details</h2>

    <div ng-repeat="address in deliveryAddresses">
        <p class="address-label">{{address.label}}</p>
        <p class="address-lines" ng-bind-html="address | addressSingleLineFormatter:'<br />'"></p>
        <p class="address-office-manager-and-telephone">
            {{address.officeManagerName}}<br />
            {{address.landlineNumber}}
        </p>

        <a href="/customer/addresses/{{address.id}}" class="link-account">View/edit</a>
    </div>

    <a href="/customer/addresses/new" class="link-account clear">Add an address</a>

    <hr />

    <h2 class="cp-heading">Payment details</h2>

    <p ng-if="paymentCards.length > 0" class="payment-details-heading">Saved credit card(s)</p>

    <div ng-repeat="card in paymentCards">
        <p class="payment-card">{{ card.type }}<br />
        XXXX XXXX XXXX {{ card.last4 }}<br />
        {{ card.expiryDate }}</p>

        <a ng-click="deletePaymentCard(card)" class="link-account cp-delete-payment-card">Delete</a>
    </div>

    <a href="/user/payment-cards/new" class="link-account clear cp-add-payment-card">Add a card</a>

</div>
