<div class="wrapper">
    <h2 class="cp-heading">Delivery addresses</h2>

    <p>
        <a href="/customer/addresses/delivery/new" role="button"
            class="btn btn-primary cp-add-delivery-address">Add a new address</a>
    </p>

    <p ng-if="deliveryAddresses.length === 0">
        You have no delivery addresses stored.
        <a href="/customer/addresses/delivery/new" class="cp-add-delivery-address">Why not add one?</a>
    </p>

    <table class="table cp-addresses-table" ng-if="deliveryAddresses.length > 0">
        <thead>
            <tr>
                <th>Address</th>
                <th>Company</th>
                <th>Office manager</th>
                <th>Phone number</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="deliveryAddress in deliveryAddresses">
                <td>{{ deliveryAddress | addressSingleLineFormatter }}</td>
                <td>{{ deliveryAddress.companyName }}</td>
                <td>{{ deliveryAddress.officeManagerName }}</td>
                <td>{{ deliveryAddress.landlineNumber }}</td>
                <td>
                    <div class="cp-button-bar">
                        <a class="btn btn-primary cp-edit-address"
                            ng-href="/customer/addresses/delivery/{{ deliveryAddress.id }}">Edit</a>
                        <a class="btn btn-primary cp-edit-address"
                            ng-click="delete(deliveryAddress)">Delete</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <h2 class="cp-heading">Billing addresses</h2>

    <p>
        <a href="/customer/addresses/billing/new" role="button"
            class="btn btn-primary cp-add-billing-address">Add a new address</a>
    </p>

    <p ng-if="billingAddresses.length === 0">
        You have no billing addresses stored.
        <a href="/customer/addresses/billing/new" class="cp-add-billing-address">Why not add one?</a>
    </p>

    <table class="table cp-addresses-table" ng-if="billingAddresses.length > 0">
        <thead>
            <tr>
                <th>Address</th>
                <th>Used for<br />invoices and<br />receipts?</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="billingAddress in billingAddresses">
                <td>{{ billingAddress | addressSingleLineFormatter }}</td>
                <td>
                    <span ng-if="billingAddress.isForInvoicesAndReceipts">Yes</span>
                    <a ng-if="!billingAddress.isForInvoicesAndReceipts"
                        ng-click="useForInvoicesAndReceipts(billingAddress)"
                        class="cp-use-address-for-invoices-and-receipts"
                        >Use</a>
                </td>
                <td>
                    <div class="cp-button-bar">
                        <a class="btn btn-primary cp-edit-address"
                            ng-href="/customer/addresses/billing/{{ billingAddress.id }}">Edit</a>
                        <a class="btn btn-primary cp-edit-address"
                            ng-click="delete(billingAddress)">Delete</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
