<div class="thin-wrapper">
    <h2 class="cp-heading">Password</h2>

    <form role="form" ng-submit="save()">
        <fieldset>
            <div class="cp-form-group">
                <label class="cp-form-label" for="current">Current password</label>
                <input class="cp-form-control" ng-model="currentPassword" id="current" name="current" type="password"
                    required aria-required="true" />
            </div>

            <div class="cp-form-group">
                <label class="cp-form-label" for="new">New password</label>
                <input class="cp-form-control" ng-model="newPassword" id="new" name="new" type="password"
                    required aria-required="true" />
            </div>

            <div class="cp-form-group">
                <label class="cp-form-label" for="confirm">Confirm password</label>
                <input class="cp-form-control" ng-model="confirmPassword" id="confirm" name="confirm" type="password"
                    required aria-required="true" />
            </div>

            <input class="btn btn-primary" type="submit" value="Save changes" />
        </fieldset>
    </form>
</div>
