<div class="container">
    <div class="cp-dashboard">
        <div class="cp-dashboard-main">
            <h1 class="cp-dashboard-heading">
                Hello{{ customer.user.name ? ' ' + (customer.user.name | firstName) : '' }},
                <span>how can we help you today?</span>
            </h1>

            <form class="cp-form cp-dashboard-form" name="dashboardForm" novalidate role="form" ng-submit="submit()">
                <fieldset>
                    <div class="row">
                        <div class="cp-form-group col-md-5" ng-if="deliveryAddresses.length > 0">
                            <label class="cp-form-label" for="search_postcode">
                                Deliver to saved location
                                <span class="form-element-invalid" ng-show="dashboardForm.$submitted && dashboardForm.searchPostcode.$error.required">Delivery location is required</span>
                            </label>
                            <select class="cp-form-control"
                                id="search_postcode"
                                name="searchPostcode"
                                ng-model="search.postcode"
                                ng-options="address.postcode as address.label for address in deliveryAddresses"
                                ng-required="!search.newPostcode">
                            </select>
                        </div>

                        <div class="col-md-1" ng-if="deliveryAddresses.length > 0">
                            <span class="cp-form-separator">or</span>
                        </div>

                        <div class="cp-form-group col-md-5">
                            <label class="cp-form-label" for="search_new_postcode">
                                Enter new delivery postcode<span class="cp-asterisk-required">*</span>
                                <span class="form-element-invalid" ng-show="dashboardForm.$submitted && dashboardForm.searchNewPostcode.$error.pattern">Postcode is invalid</span>
                                <span class="form-element-invalid" ng-show="dashboardForm.$submitted && dashboardForm.searchNewPostcode.$error.required">Postcode is required</span>
                            </label>
                            <input class="cp-form-control"
                                id="search_new_postcode"
                                name="searchNewPostcode"
                                type="text"
                                placeholder="POSTCODE"
                                ng-model="search.newPostcode"
                                ng-pattern="/[a-zA-Z]{1,2}[0-9][0-9A-Za-z]?\s?[0-9][a-zA-Z]{2}/"
                                ng-required="deliveryAddresses.length === 0" />
                        </div>
                    </div>

                    <h4 class="cp-heading">To refine your search fill in the additional fields below...</h4>

                    <div class="row">
                        <div class="cp-form-group col-md-5">
                            <label class="cp-form-label" for="search_event_type">Event type</label>
                            <select class="cp-form-control" id="search_event_type" name="searchEventType" ng-model="search.eventType" ng-options="eventType.id as eventType.name for eventType in eventTypeOptions"></select>
                        </div>

                        <div class="cp-form-group col-md-2">
                            <label class="cp-form-label" for="search_time">Time</label>
                            <select class="cp-form-control" id="search_time" name="searchTime" ng-init="search.time" ng-model="search.time" ng-options="time.value as time.label for time in timeOptions"></select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="cp-form-group col-md-3">
                            <label class="cp-form-label" for="search_date">Delivery date</label>
                            <input class="cp-form-control" id="search_date" name="searchDate" type="text" datepicker-options="{showButtonBar: false, showWeeks: false, startingDay: 1}" datepicker-popup="dd/MM/yyyy" is-open="isDatePickerOpen" min-date="minDate" year-range="2" ng-click="openDatePicker($event)" ng-model="pickedDate" />
                        </div>

                        <div class="cp-form-group col-md-3">
                            <label class="cp-form-label" for="search_head_count">No. of people?</label>
                            <select class="cp-form-control" id="search_head_count" name="searchHeadCount" ng-model="search.headCount" ng-options="headCount for headCount in headCountOptions"></select>
                        </div>
                    </div>
                </fieldset>

                <div class="text-center">
                    <input analytics-on="click" analytics-event="showFood" analytics-category="buttonEvents"
                            class="cp-btn cp-btn-primary cp-btn-lg" type="submit" value="Show me the food" />
                </div>
            </form>
        </div>
        <div class="cp-dashboard-sidebar">
            <aside class="cp-dashboard-aside" ng-if="nextOrder">
                <header>
                    <h2 class="cp-dashboard-aside-heading">Next order</h2>
                    <span class="cp-dashboard-aside-order-date">{{ nextOrder.requestedDeliveryDate | date:'dd MMM yy' }}</span>
                    <span class="cp-dashboard-aside-order-status" ng-show="nextOrder.statusText === 'pending_vendor_approval'">Awaiting vendor acceptance</span>
                </header>

                <cp-package-card package="nextOrder.package"></cp-package-card>

                <p class="cp-dashboard-aside-package-description" js-clamp="'3'">{{ nextOrder.package.description }}</p>

                <section class="cp-dashboard-aside-order-detail">
                    <h3 class="cp-dashboard-aside-order-detail-heading">Your order</h3>
                    <p class="cp-dashboard-aside-order-edit-notice" ng-show="isEditOrderNoticeDisplayed">To make a change to this order, please call us on <a ng-href="tel:{{ CP_TELEPHONE_NUMBER_INTERNATIONAL }}">{{ CP_TELEPHONE_NUMBER_UK }}</a>.</p>
                    <dl>
                        <dt>Delivery time</dt>
                        <dd>{{ nextOrder.requestedDeliveryDate | date:'HH:mm' }}</dd>

                        <dt>No. of people?</dt>
                        <dd>{{ nextOrder.headCount }}</dd>

                        <dt>Dietary requirements</dt>
                        <dd ng-bind-html="nextOrder.dietaryRequirements | dietaryRequirementsFormatter"></dd>

                        <dt class="cp-dashboard-aside-order-detail-total">Total</dt>
                        <dd class="cp-dashboard-aside-order-detail-total">{{ nextOrder.totalAmountAfterVoucher | currency:'£' }}</dd>
                    </dl>
                    <a class="cp-dashboard-aside-order-edit" ng-click="isEditOrderNoticeDisplayed = true">Edit<span class="sr-only"> order</span></a>
                </section>

                <a class="cp-btn cp-btn-default cp-btn-lg cp-btn-block"
                    ng-href="/package/{{ nextOrder.package.humanId }}-{{ nextOrder.package.name | slugify }}"
                    >View details</a>
            </aside>

            <aside class="cp-dashboard-aside" ng-if="!nextOrder && recommendedPackage">
                <header>
                    <h2 class="cp-dashboard-aside-heading">We recommend</h2>
                </header>

                <cp-package-card package="recommendedPackage"></cp-package-card>

                <cp-package-rating cp-summary="reviewsSummary" cp-style="horizontal"
                    ng-if="reviewsSummary"></cp-package-rating>

                <p class="cp-dashboard-aside-package-description" js-clamp="'3'">{{ recommendedPackage.description }}</p>

                <a class="cp-btn cp-btn-default cp-btn-lg cp-btn-block" ng-href="/package/{{ recommendedPackage.humanId }}-{{ recommendedPackage.name | slugify }}">View details</a>
            </aside>
        </div>
    </div>
</div>
