<div class="thin-wrapper" id="cp-leave-a-review">
    <h2 class="cp-heading">
        {{ order.requestedDeliveryDate | date:'EEE' }},
        <span class="cp-light">{{ order.requestedDeliveryDate | date:'dd MMM yy' }}</span>
    </h2>

    <cp-package-detail package="order.package"></cp-package-detail>

    <h2 class="cp-heading">Your feedback</h2>

    <p>
        Give feedback to find out what your team thought.
        Share this link with your team and they will be able to review the meal too:
        <a ng-href="{{ FRONTEND_BASE }}/team/{{ order.customer.id }}/order/{{ order.id }}"
            >{{ FRONTEND_BASE }}/team/{{ order.customer.id }}/order/{{ order.id }}</a>
    </p>

    <br />

    <form name="reviewForm" role="form" ng-submit="save()" novalidate>
        <fieldset>
            <div class="cp-form-group">
                <div class="cp-star-rating-group">
                    <label class="cp-form-label">Food quality</label>

                    <div cp-rating-stars="review.foodQualityRating" cp-is-editable="true"></div>

                    <div class="form-element-invalid" ng-if="errors.foodQualityRatingRequiredError">
                        This field is required.
                    </div>
                </div>

                <div class="cp-star-rating-group">
                    <label class="cp-form-label">Presentation</label>

                    <div cp-rating-stars="review.presentationRating" cp-is-editable="true"></div>

                    <div class="form-element-invalid" ng-if="errors.presentationRatingRequiredError">
                        This field is required.
                    </div>
                </div>

                <div class="cp-star-rating-group">
                    <label class="cp-form-label">Delivery</label>

                    <div cp-rating-stars="review.deliveryRating" cp-is-editable="true"></div>

                    <div class="form-element-invalid" ng-if="errors.deliveryRatingRequiredError">
                        This field is required.
                    </div>
                </div>

                <div class="cp-star-rating-group">
                    <label class="cp-form-label">Overall</label>

                    <div cp-rating-stars="review.overallRating" cp-is-editable="true"></div>

                    <div class="form-element-invalid" ng-if="errors.overallRatingRequiredError">
                        This field is required.
                    </div>
                </div>
            </div>

            <div class="cp-form-group cp-is-delivered-on-time">
                <label class="cp-form-label">
                    Was the package delivered on time?
                </label>

                <div class="form-element-invalid" ng-if="errors.isDeliveredOnTimeRequiredError">
                    This field is required.
                </div>

                <label class="cp-checkbox-inline">
                    <input type="radio" ng-model="review.isDeliveredOnTime" value="1" />
                    Yes
                </label>

                <label class="cp-checkbox-inline">
                    <input type="radio" ng-model="review.isDeliveredOnTime" value="0" />
                    No
                </label>
            </div>

            <div class="cp-form-group">
                <label class="cp-form-label" for="reviewText">
                    Comment
                </label>

                <textarea class="cp-form-control" id="reviewText" ng-model="review.review" cols="80" rows="6"
                    required aria-required="true"></textarea>
            </div>

            <div class="cp-form-group cp-recommend-to-friend-rating">
                <label class="cp-form-label">
                    Based on today’s experience, how likely are you to recommend City Pantry to a friend?
                </label>

                <span class="form-element-invalid" ng-if="errors.recommendToFriendRatingRequiredError">
                    This field is required.
                </span>

                <div class="cp-recommend-to-friend-rating">
                    <div ng-repeat="number in oneToTen"
                            class="rating"
                            ng-class="{active: review.recommendToFriendRating === number}"
                            ng-click="setRecommendToFriendRating(number)">
                        {{ number }}
                    </div>

                    <span class="least">Least</span>
                    <span class="most">Most</span>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="cp-form-group">
                <label class="cp-form-label">
                    Do you want this review to be public on citypantry.com?
                </label>

                <label class="cp-checkbox-inline">
                    <input type="radio" ng-model="isPublicString" value="1" />
                    Yes
                </label>

                <label class="cp-checkbox-inline">
                    <input type="radio" ng-model="isPublicString" value="0" />
                    No
                </label>
            </div>

            <input class="cp-btn cp-btn-primary" type="submit" value="Submit" />
        </fieldset>
    </form>

    <a class="cp-btn cp-btn-link" href="/customer/orders" cp-back>Go back</a>
</div>
