<div class="thin-wrapper">
    <h2 class="cp-heading">Pay on account</h2>

    <p ng-if="status === 0">
        To request to pay on account, please call us on
        <a ng-href="tel:{{ CP_TELEPHONE_NUMBER_INTERNATIONAL }}">{{ CP_TELEPHONE_NUMBER_UK }}</a>,
        or email us at
        <a ng-href="mailto:{{ CP_SUPPORT_EMAIL_ADDRESS }}">{{ CP_SUPPORT_EMAIL_ADDRESS }}</a>.
    </p>

    <p ng-if="status === 1">
        Please supply the following information. Once you do, you will be able to pay on account.
        Your maximum monthly spend will be <b>{{ user.customer.maxSpendPerMonth | currency:'£' }}</b>,
        and your payment terms will be <b>{{ user.customer.invoicePaymentTerms }}</b>.
    </p>

    <p ng-if="status === 2">
        You are approved to pay on account.
        Your maximum monthly spend is <b>{{ user.customer.maxSpendPerMonth | currency:'£' }}</b>,
        and your payment terms are <b>{{ user.customer.invoicePaymentTerms }}</b>.
        If your accounts department's details change, please update them below.
    </p>

    <form name="payOnAccountForm" novalidate role="form" ng-if="status !== 0" ng-submit="save(payOnAccountForm)">
        <fieldset>
            <div class="cp-form-group">
                <label class="cp-form-label" for="accounts_contact_name">
                    Accounts contact name
                    <span class="form-element-invalid" ng-show="payOnAccountForm.$submitted && payOnAccountForm.accountsContactName.$error.required">(Accounts contact name is required.)</span>
                </label>
                <input class="cp-form-control" id="accounts_contact_name" name="accountsContactName" type="text" required aria-required="true" ng-model="user.customer.accountsContactName" />
            </div>

            <div class="cp-form-group">
                <label class="cp-form-label" for="accounts_email">
                    Accounts email
                    <span class="form-element-invalid" ng-show="payOnAccountForm.$submitted && payOnAccountForm.accountsEmail.$error.required">(Accounts email is required.)</span>
                    <span class="form-element-invalid" ng-show="payOnAccountForm.$submitted && payOnAccountForm.accountsEmail.$error.email">(Accounts email is invalid.)</span>
                </label>
                <input class="cp-form-control" id="accounts_email" name="accountsEmail" type="email" required aria-required="true" ng-model="user.customer.accountsEmail" />
            </div>

            <div class="cp-form-group">
                <label class="cp-form-label" for="accounts_telephone_number">
                    Accounts telephone number
                    <span class="form-element-invalid" ng-show="payOnAccountForm.$submitted && payOnAccountForm.accountsTelephoneNumber.$error.required">(Accounts telephone number is required.)</span>
                </label>
                <input class="cp-form-control" id="accounts_telephone_number" name="accountsTelephoneNumber" type="tel" required aria-required="true" ng-model="user.customer.accountsTelephoneNumber" />
            </div>

            <input class="btn btn-primary" type="submit" value="Save" />
        </fieldset>
    </form>
</div>
