#cp-leave-a-review {
    a[cp-back] {
        color: $cp-primary-color;
        top: 10px;
        right: 0;
        left: auto;
    }

    .cp-star-rating-group {
        @extend .clearfix;

        cursor: pointer;

        border-width: 4px 0 0 0;
        border-style: solid;
        border-color: $gray-light;

        label,
        [cp-rating-stars],
        .form-element-invalid {
            line-height: 46px;
            float: left;
            margin: 0;
        }
        label {
            width: 160px;
        }
        .form-element-invalid {
            margin-left: 20px;
        }
        [cp-rating-stars] {
            font-size: $font-size-h3;
        }
    }

    .cp-star-rating-group:last-of-type {
        border-bottom-width: 4px;
    }

    .cp-recommend-to-friend-rating {
        float: left;
        width: 100%;

        .rating {
            @include cp-font-title($font-size-h3);
            border: 3px solid $gray-light;
            color: $gray-light;
            cursor: pointer;
            float: left;
            line-height: 50px;
            margin-left: 1%;
            text-align: center;
            width: 9.1%;

            &:first-child {
                margin-left: 0;
            }
        }

        .rating.active {
            color: $cp-primary-color;
            border-color: $cp-primary-color;
        }

        .least,
        .most {
            font-weight: 600;
            margin-top: 3px;
        }
        .least {
            float: left;
        }
        .most {
            float: right;
        }
    }
}
