.package-detail {
    width: 66.6%;
    float: left;

    carousel {
        display: block;
    }
}

.pkg-header {
    width: 66.6%;
    float: left;
}

#view-package {
    > .vendor {
        float: right;
        width: 29%;
    }
}

#cp-view-package-login-modal {
    .cp-login {
        margin-top: 40px;
        padding-bottom: 40px;
    }

    fieldset .cp-form-group {
        margin-bottom: 12px;
    }
}
