.package-detail {
    width: 66.6%;
    float: left;

    carousel {
        display: block;
    }
}

.pkg-header {
    width: 66.6%;
    float: left;
}

#view-package {
    > .vendor {
        float: right;
        width: 29%;
    }
}
