<div class="cp-checkout-steps-wrap">
    <ng-include src="'/dist/templates/directives/cp-checkout-steps.html'" ng-init="activeStep = 1"></ng-include>
</div>

<div class="container">
    <div class="cp-checkout">
        <div class="cp-checkout-main">
            <h1 class="cp-heading cp-checkout-heading">Delivery address</h1>

            <p ng-if="isNewDeliveryAddress">Let us know to which address {{ package.vendor.name }} should deliver your meal.</p>

            <cp-checkout-address-form address="address" ng-if="isNewDeliveryAddress"></cp-checkout-address-form>

            <div ng-if="!isNewDeliveryAddress">
                <p>{{ package.vendor.name }} will deliver your package to:</p>

                <p class="cp-checkout-address" ng-bind-html="address | addressSingleLineFormatter:'<br />'"></p>

                <hr />

                <form class="cp-form cp-checkout-form" name="forms.checkoutForm" novalidate role="form">
                    <fieldset>
                        <div class="cp-form-group">
                            <label class="cp-form-label" for="office_manager_name">
                                Contact name on arrival
                                <span class="form-element-invalid" ng-show="forms.checkoutForm.$submitted && forms.checkoutForm.officeManagerName.$error.required">Contact name is required</span>
                            </label>
                            <input class="cp-form-control"
                                id="office_manager_name"
                                name="officeManagerName"
                                type="text"
                                required
                                aria-required="true"
                                ng-model="address.officeManagerName" />
                        </div>

                        <div class="cp-form-group">
                            <label class="cp-form-label" for="landline_number">
                                Phone/Mobile
                                <span class="form-element-invalid" ng-show="forms.checkoutForm.$submitted && forms.checkoutForm.landlineNumber.$error.required">Phone/Mobile is required</span>
                            </label>
                            <input class="cp-form-control"
                                id="landline_number"
                                name="landlineNumber"
                                type="tel"
                                required
                                aria-required="true"
                                ng-model="address.landlineNumber" />
                        </div>

                        <hr />

                        <fieldset>
                            <legend class="cp-heading">Instructions for arrival</legend>
                            <div class="cp-form-group">
                                <label class="cp-form-label" for="delivery_instruction">Do you have any instructions for {{ package.vendor.name }} arrival?</label>
                                <textarea class="cp-form-control"
                                    id="delivery_instruction"
                                    name="deliveryInstruction"
                                    rows="6"
                                    ng-model="address.deliveryInstruction"></textarea>
                            </div>
                        </fieldset>

                        <fieldset>
                            <legend class="cp-heading">Parking</legend>
                            <div class="cp-form-group">
                                <label class="cp-form-label" for="parking_suggestion">Can you recommend anywhere to park nearby?</label>
                                <textarea class="cp-form-control"
                                    id="parking_suggestion"
                                    name="parkingSuggestion"
                                    rows="6"
                                    ng-model="address.parkingSuggestion"></textarea>
                            </div>
                        </fieldset>

                        <hr />

                    </fieldset>
                </form>
            </div>

            <button class="cp-btn cp-btn-primary cp-btn-lg" type="submit" ng-click="nextStep()">Next</button>
        </div>

        <div class="cp-checkout-sidebar">
            <cp-checkout-review></cp-checkout-review>
        </div>
    </div>
</div>
