<div class="container">
    <div class="cp-checkout-thank-you">
        <h1 class="cp-checkout-thank-you-heading">
            Success!
            <span>
                You just completed your checkout process
                <span ng-if="order.checkoutDurationInMinutes <= 10">
                    in
                    <ng-pluralize count="order.checkoutDurationInMinutes"
                        when="{'0': 'less than 1 minute',
                            'one': '1 minute',
                            'other': '{} minutes'}">
                    </ng-pluralize>
                </span>
            </span>
        </h1>

        <cp-package-card ng-if="package" package="package"></cp-package-card>

        <a class="cp-btn cp-btn-primary cp-btn-lg" href="/search">Order more</a>
    </div>
</div>

<div ng-if="order.object && INCLUDE_ANALYTICS_JS">
    <!-- Google AdWords orders. -->
    <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt=""
        ng-src="//www.googleadservices.com/pagead/conversion/973394162/?value={{ order.object.totalAmountAfterPromoCode }}&amp;currency_code=GBP&amp;label=hmQfCNaaqlwQ8qGT0AM&amp;guid=ON&amp;script=0"/>
    </div>

    <!-- Facebook orders. -->
    <img height="1" width="1" alt="" style="display:none" ng-src="https://www.facebook.com/tr?ev=6029577752346&amp;cd[value]={{ order.object.totalAmountAfterPromoCode }}&amp;cd[currency]=GBP&amp;noscript=1" />

    <!-- Twitter orders. -->
    <img height="1" width="1" style="display:none;" alt="" ng-src="https://analytics.twitter.com/i/adsct?txn_id=l62aa&amp;p_id=Twitter&amp;tw_sale_amount={{ order.object.totalAmountAfterPromoCode }}&amp;tw_order_quantity=1" />
    <img height="1" width="1" style="display:none;" alt="" ng-src="//t.co/i/adsct?txn_id=l62aa&amp;p_id=Twitter&amp;tw_sale_amount={{ order.object.totalAmountAfterPromoCode }}&amp;tw_order_quantity=1" />
</div>
