<li><a href="/customer/dashboard">Dashboard</a></li>
<li class="dropdown" dropdown>
    <a href="#" class="cp-button-my-account" dropdown-toggle role="button" aria-expanded="false">
        My Account <span class="caret"></span>
    </a>
    <ul class="cp-nav-menu-my-account" role="menu">
        <li><a href="/customer/account-details">Account Details</a></li>
        <li><a href="/customer/orders">Orders</a></li>
        <li><a href="/customer/addresses">Addresses</a></li>
        <li><a href="/user/payment-cards">Cards</a></li>
        <li><a href="/customer/account">My Details</a></li> <!-- @todo - remove? -->
        <li><a href="/logout">Log Out</a></li>
    </ul>
</li>
<li>
    <a class="cp-call-us" href="tel:{{ phoneNumberInternational }}">
        <img src="/dist/images/icons/telephone.svg" width="33" height="27" />
        <div class="cp-call-us-number">{{ phoneNumberUk }}</div>
    </a>
</li>
