<div class="wrapper" id="search-page">
    <div class="col-sm-3 sidebar">
        <h3 class="sr-only">Filter</h3>

        <form class="filter-form" role="form">
            <div class="form-group">
                <label for="date" ng-click="openDatePicker($event)">Date</label>

                <input type="text" class="form-control input-lg" datepicker-popup="dd MMMM yyyy"
                    ng-model="pickedDate" datepicker-mode="day" year-range="2"
                    datepicker-options="{showButtonBar: false, showWeeks: false, startingDay: 1}"
                    is-open="isDatePickerOpen" ng-click="openDatePicker($event)" />
            </div>

            <div class="form-group">
                <label for="time">Time</label>
                <select class="form-control input-lg" name="time" ng-model="search.time"
                        ng-options="time.value as time.label for time in timeOptions">
                    <option value="">-</option>
                </select>
            </div>

            <div class="form-group">
                <label for="people">Number of people</label>
                <select class="form-control input-lg" name="people" ng-model="search.headCount"
                        ng-options="option as option for option in headCountOptions">
                    <option value="">-</option>
                </select>
            </div>
        </form>

        <section class="filter-package collapse" id="filter-package">
            <div class="form-group filter-package-budget">
                <label for="budget">Budget per person</label>

                <slider floor="{{ minPackageCost }}" ceiling="{{ maxPackageCost }}" step="1" precision="0.1" ng-model="search.maxBudget"></slider>

                <p class="budget-range" ng-show="search.maxBudget > 0">
                    Max: <strong>{{ search.maxBudget | currency:'£' }}</strong>
                </p>
            </div>

            <h4 ng-show="eventTypes.length > 0 || search.eventType">Package type</h4>

            <ul class="nav" ng-show="eventTypes.length > 0 && !search.eventType">
                <li ng-repeat="eventType in eventTypes">
                    <a ng-click="search.eventType = eventType">
                        {{ eventType.name }}
                        <span>{{ eventType.searchResultsCount }}</span>
                    </a>
                </li>
            </ul>

            <div class="filter-selected event-type-filter-selected" ng-show="search.eventType">
                <span>{{ search.eventType.name }}</span>
                <button class="close" type="button" ng-click="search.eventType = null">×</button>
            </div>

            <h4 ng-show="cuisineTypes.length > 0 || search.cuisineType">Cuisine</h4>

            <ul class="nav" ng-show="cuisineTypes.length > 0 && !search.cuisineType">
                <li ng-repeat="cuisineType in cuisineTypes">
                    <a ng-click="search.cuisineType = cuisineType">
                        {{ cuisineType.name }}
                        <span>{{ cuisineType.searchResultsCount }}</span>
                    </a>
                </li>
            </ul>

            <div class="filter-selected cuisine-type-filter-selected" ng-show="search.cuisineType">
                <span>{{ search.cuisineType.name }}</span>
                <button class="close" type="button" ng-click="search.cuisineType = null">×</button>
            </div>
        </section>
    </div>

    <select ng-model="sort" class="input-lg sort-btn">
        <option value="">Sort by...</option>
        <option value="priceLowToHigh">Price: low to high</option>
        <option value="priceHighToLow">Price: high to low</option>
    </select>

    <p ng-show="isSearching">Seaching...</p>

    <div ng-show="!isSearching">
        <h1>{{ packages.length }} package{{ packages.length == 1 ? '' : 's' }} found</h1>

        <ul class="packages">
            <li ng-repeat="package in packages" cp-package-card package="package" class="package"></li>
        </ul>
    </div>

    <div class="clearfix"></div>
</div>
