<div class="wrapper">
    <p ng-show="isSearching">Seaching...</p>

    <div ng-show="!isSearching">
        <h1>{{ packages.length }} package{{ packages.length == 1 ? '' : 's' }} found</h1>

        <ul class="packages">
            <li class="package british breakfast" ng-repeat="package in packages">
                <a href="/package/{{ package.id }}-{{ package.name | slugify }}">
                    <div class="package-image-wrap">
                        <div class="package-image" style="background-image: url('{{ package.images[0].medium }}');"></div>
                        <span class="btn btn-order">Order Now</span>
                    </div>
                    <h2 class="package-name">{{ package.name }}</h2>
                    <span class="package-price">{{ package.costIncludingVat }} <small>per head</small></span>
                </a>

                <a class="hidden-xs package-vendor" href="/vendor/{{ package.vendor.id }}-{{ package.vendor.slug }}">
                    {{ package.vendor.name }}
                </a>
            </li>
        </ul>
    </div>
</div>
