<li><a href="/admin/orders">Orders</a></li>
<li><a href="/admin/orders/courier">Courier</a></li>
<li><a href="/admin/invoices">Invoices</a></li>
<li><a href="/admin/packages">Packages</a></li>
<li><a href="/admin/vendors">Vendors</a></li>
<li><a href="/admin/customers">Customers</a></li>
<li><a href="/admin/users">Users</a></li>
<li class="dropdown" dropdown>
    <a href="#" class="cp-button-my-account" dropdown-toggle role="button" aria-expanded="false">
        My account <span class="caret"></span>
    </a>
    <ul class="cp-nav-menu-my-account" role="menu">
        <li><a href="/admin/vendors/edit">Edit vendors</a></li>
        <li><a href="/admin/packages/edit">Edit packages</a></li>
        <li><a href="/admin/packages/delivery-radii">Edit delivery radii</a></li>
        <li><a href="/admin/sms-centre">SMS centre</a></li>
        <li><a href="/admin/orders/stats">Orders stats</a></li>
        <li><a href="/admin/supplier-agreements">Supplier agreements</a></li>
        <li><a href="/admin/global-id-lookup">Global ID lookup</a></li>
        <li><a href="/logout">Log out</a></li>
    </ul>
</li>
