{% extends 'base.html.twig' %}

{% block title %}Office Catering in London from City Pantry{% endblock %}

{% block metaDescription %}Order catering for the office or an event. Choose from a curated selection of London’s best cooks.{% endblock %}

{% block body %}
    <section class="hero">
        <div class="hero-wrapper-colour"></div>

        <div class="wrapper">
            <h1>Make Lunch Better</h1>

            <h2 class="hidden-xs">Order interesting food curated by us from London&#8217;s best cooks.</h2>

            <form class="form-inline hero-search hero-search-alt" id="hero-search" action="/search" method="get" role="form">
                <div class="form-group">
                    <label class="sr-only" for="location">Enter your postcode</label>
                    <input class="form-control input-lg" name="location" id="location" type="text" autocomplete="off" placeholder="Enter your postcode (e.g. SW9 8LA)" />
                </div>

                <input class="btn btn-primary btn-lg btn-block" name="submit" type="submit" value="Show me the food">
            </form>

            <div class="hidden-xs hero-testimonial">
                <blockquote>
                    <p>&#8220;Finding you has possibly been the best thing to happen to me this year!&#8221;</p>
                </blockquote>
                <p class="cite">&#8212;Buzzfeed</p>
            </div>

            <ul class="share-links">
                <li><iframe style="border: none; overflow: hidden; width: 90px; height: 21px;" src="//www.facebook.com/plugins/like.php?href=https://citypantry.com/&amp;width=90&amp;height=21&amp;colorscheme=light&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;send=false" allowTransparency="true" frameborder="0" scrolling="no"></iframe></li>
                <li><iframe style="width: 90px; height: 21px;" src="https://platform.twitter.com/widgets/tweet_button.html?url=http://citypantry.com&amp;text={{ 'Check out City Pantry, inspired food delivered for your next office lunch, conference or dinner party' | url_encode }}&amp;via={{ twitterHandle }}" allowtransparency="true" frameborder="0" scrolling="no"></iframe></li>
            </ul>
        </div>

        <div class="hero-decoration">
            <div class="side-l"></div>
            <div class="arrow"><img src="/dist/images/hero_triangle.png" alt=""></div>
            <div class="side-r"></div>
        </div>
    </section>

    <section class="how-it-works">
        <div class="wrapper">
            <h2 class="section-title">How it works</h2>

            <ol class="steps">
                <li class="step">
                    <h3 class="step-title">We curate everything</h3>
                    <p>Discover London&#8217;s best chefs, restaurants and street-food all in <br class="hidden-xs hidden-sm">one place.</p>
                </li>

                <li class="step">
                    <h3 class="step-title">Easy to order</h3>
                    <p>Vendors create special packages so the hardest part is choosing what <br class="hidden-xs hidden-sm">to eat.</p>
                </li>

                <li class="step">
                    <h3 class="step-title">On time delivery</h3>
                    <p>We work together with the vendors to make sure your food gets to you on time.</p>
                </li>
            </ol>
        </div>
    </section>

    <section class="meals">
        <div class="wrapper">
            <h2 class="meals-heading">Over <strong>5,000</strong> meals delivered every week</h2>
        </div>
    </section>

    <section class="used-by">
        <div class="wrapper">
            <h2 class="used-by-heading">People who trust us with their lunch&#8230;</h2>

            <ul class="used-by-logos">
                <li class="google">
                    <img src="/dist/images/google_logo@2x.png" alt="Google" />
                </li>
                <li class="eventbrite">
                    <img src="/dist/images/eventbrite_logo@2x.png" alt="Eventbrite" />
                </li>
                <li class="moo">
                    <img src="/dist/images/moo_logo@2x.png" alt="MOO" />
                </li>
                <li class="spotify">
                    <img src="/dist/images/spotify_logo@2x.png" alt="Spotify" />
                </li>
            </ul>
        </div>
    </section>
{% endblock %}
