{% extends 'base.html.twig' %}

{% block title %}Easily Cater a Team Breakfast or Lunch | Interesting catering delivered by City Pantry | City Pantry{% endblock %}

{% block metaDescription %}Order amazing food for your office quickly and easily from our selection of London’s best cooks and chefs, including street food vendors and pop-up restaurants.{% endblock %}

{% block body %}
    <div class="office-managers-header"></div>

    <main role="main">
        <div class="wrapper">
            <div class="row">
                <div class="col-sm-8">
                    <h1>Office managers</h1>

                    <p class="lead">Office managers, <abbr title="personal assistant">PA</abbr>s, <abbr title="executive assistant">EA</abbr>s, secretaries and anyone else given the task of ordering food for the office, this one&#8217;s for you.</p>

                    <p class="lead">At City Pantry we&#8217;ve taken the hassle out of having to consistently find something amazing and different to cater events at the office so you can focus on the fun bits like look at food porn and, well, eating.</p>

                    <p class="lead">We&#8217;ve replaced stale sandwich platters with delicious Vietnamese baguettes and boring canapés with London&#8217;s most interesting and creative food offerings. We scour high and low to find people doing amazing things with food and we&#8217;ve put them all in one place to make your life a little easier.</p>

                    <p class="lead">Whether it&#8217;s a breakfast, lunch, dinner, meeting, special event, or even a wedding (would be weird and a bit lame in the office) we know someone who can help you make it great.</p>

                    <h2>Make your life easy</h2>

                    <p class="lead">To make your life even easier, we&#8217;ve thrown away menus and created specially designed packages so all you need to do is choose a package, select how many people are eating and enter any special dietary requirements.</p>

                    <p class="lead">Seriously, this site is too simple for you and if you&#8217;ve an office monkey I would give him the job. If you are the office monkey then I apologise and congratulate you on learning how to read.</p>

                    <h2>Order in under a minute</h2>

                    <p class="lead">If that is not easy enough, our friends at Braintree Payments securely save your credit card details so you only ever have to enter them once, the same goes for your address.</p>

                    <p class="lead">If you need to be invoiced, no problem &#8211; give us a call. </p>

                    <h2>Real people to talk to</h2>

                    <p class="lead">OK on top of this, there is always someone by the phone or on the online chat to help you with suggestions, ideas, last minute orders and if you need more flexibility or something extra special CALL US and we&#8217;ll get you sorted. IT&#8217;S ALMOST LIKE BEING IN THE 90s!</p>

                    <blockquote>
                        <p>&#8220;Finding you has possibly been the best thing to happen to me this year!&#8221;</p>
                    </blockquote>

                    <blockquote>
                        <p>&#8220;I&#8217;m really enjoying the City Pantry experience as it&#8217;s so interesting getting to order so much varied food.&#8221;</p>
                    </blockquote>

                    <blockquote>
                        <p>&#8220;One of my colleagues came up to me last night (on the way back to the kitchen for seconds) and said, &#8216;Do we ever tell you how much we love you for ordering this amazing food?!&#8217;.&#8221;</p>
                    </blockquote>
                </div>

                {% include 'sidebar/3.html.twig' with {page: 'officeManagers'} %}
            </div>
        </div>
    </main>

    <section class="cta">
        <div class="wrapper">
            <div class="row">
                <div class="col-md-6">
                    <h3>Ready to work smarter?</h3>
                </div>
                <div class="col-md-6">
                    <p><a class="btn btn-primary btn-lg" href="/search">Find Great Food</a> <a class="btn btn-default btn-lg" href="/quote">Get a Quote for an Event</a></p>
                    <p class="cta-tel">Or call us on <strong>{{ phoneNumberUk }}</strong></p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
