{% extends 'base.html.twig' %}

{% block title %}Privacy policy | City Pantry{% endblock %}

{% block body %}
    <div class="policies-header"></div>

    <main role="main">
        <div class="wrapper">
            <div class="row">
                <div class="col-sm-8">
                    <h1>Privacy policy</h1>

                    <p>By using the City Pantry website you agree that we may use your personal information for the purposes set out in this policy.</p>

                    <p>When you register or make an order via the City Pantry website we may need to send your personal information to a third party company.  However we have taken appropriate steps to ensure the same level of protection by such companies. The personal data that we collect from you may also be used for the purposes of enabling a third party data processor to assess such data in order to provide City Pantry with confirmation of its veracity and integrity.</p>

                    <p>The City Pantry website is structured in such a way that no personal information is collected until you register as a user. Once registered, your information will only be used in accordance with the Data Protection Act 1998. If you change your mind about us using your data and want us to remove it from our systems, you may write to us at 16a Electric Lane, Brixton, London SW9 8LA or email us at <a href="mailto:support@citypantry.com">support@citypantry.com</a>.</p>

                    <h2>What we collect</h2>

                    <p>We require users of the City Pantry website to supply personal information when registering with us including your name, postcode and email. When you place an order we also require you to provide your payment card details, your address, telephone number and a delivery address. We require this information not only to provide our services to you, but also to understand your preferences and improve the delivery of our services to you. We may also use your information to contact you, either by telephone or email, as part of our customer care procedures.</p>

                    <h2>Cookie Policy</h2>

                    <h3>What are cookies?</h3>

                    <p>We want City Pantry to be as easy and reliable to use as possible. As we provide our service via the internet we place small encrypted files known as cookies on your device (e.g. computer, phone or tablet).</p>

                    <p>These pieces of information are used to improve our services to you by:</p>

                    <ul>
                        <li>Enabling City Pantry to recognise your device so you don&#8217;t have to give the same information several times during one task or on further visits</li>
                        <li>Recognising that you may already have given a username and password so you don&#8217;t need to do it for every web page requested</li>
                        <li>Measuring how many people are using our service so we can ensure that there is enough capacity to enable it to function properly</li>
                        <li>Analysing anonymised data to understand how people react with our website.</li>
                    </ul>

                    <h3>Do you have to accept cookies?</h3>

                    <p>We use cookies based on your &#8216;implied consent&#8217;, which means that if you continue to use our website, we will assume you are happy for us to set cookies. If you don&#8217;t want to accept cookies then you can set your web browser (e.g. Chrome, Firefox, Internet Explorer etc.) to reject all cookies; allow only &#8216;trusted&#8217; sites to set them; or to accept cookies from websites only for the duration of your visit. Your browser&#8217;s &#8216;help&#8217; option will tell you how. However, please be aware that if you choose to delete or restrict cookies, some features of City Pantry may not work.</p>

                    <h3>Third party cookies</h3>

                    <p>We sometimes use external suppliers to deliver services on our behalf, which means these cookies may be set by a third party (third-party cookies). We do not control these cookies so if you would like more information about them or information on how to opt out, please see their individual privacy policies (see list below). You can also go to <a href="http://www.youronlinechoices.com/">Your Online Choices</a> to find out more about third-party advertising cookies.</p>

                    <h3>List of third party suppliers</h3>

                    <ul>
                        <li><a title="Google Analytics Cookie Usage on Websites" href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage">Google Analytics</a></li>
                    </ul>
                </div>

                {% include 'sidebar/2.html.twig' with {page: 'privacy'} %}
            </div>
        </div>
    </main>

{% endblock %}
