{% extends 'base.html.twig' %}

{% block title %}Easily Cater a Team Breakfast or Lunch | Interesting catering delivered by City Pantry | City Pantry{% endblock %}

{% block body %}
    <div class="team-lunch-header"></div>

    <main role="main">
        <div class="wrapper">
            <div class="row">
                <div class="col-sm-8">
                    <h1>Team/Employee lunch</h1>

                    <p class="lead">We work closely with lots of really cool companies who provide a team lunch or breakfast for their employees, either once a week or in some cases everyday.</p>

                    <p class="lead">We could list all of the reasons why you should be doing this too, but maybe it would be better to try and visualize how this could make a positive difference to your company.</p>

                    <p class="lead">Imagine lots of people sat in cubicles beavering away at work. Let&#8217;s call this corporate picture a bank.</p>

                    <p class="lead">At the bank they used to have lots of money and all the shiny new stuff like IBMs and Windows and everyone was really happy, but then one day all the money went away and now they still have things like IBMs and Windows.</p>

                    <p class="lead">Now, imagine a big open room filled with light and energy and lots of people walking around in t-shirts, high fiving and saying annoyingly trendy things to each other like hashtag amazeballs. But wait! What&#8217;s that? They&#8217;re smiling.</p>

                    <p class="lead">Not a beaver in sight, yet these happy, trendy, slightly annoying people are making lots of money and they&#8217;re also having fun!</p>

                    <p class="lead">How do they manage this? Well, they do smart things like eating lunch together, where the customer service team gets a chance to talk to the tech team where they can bounce around ideas about how to make the business better.</p>

                    <p class="lead">In short, they think a bit differently from the people at the bank. Which is probably why they still have jobs.</p>

                    <p class="lead"><strong>Save your job, call us on {{ phoneNumberUk }} or <a href="/search">ORDER A TEAM LUNCH NOW</a>.</strong></p>
                </div>

                {% include 'sidebar/3.html.twig' with {page: 'teamLunch'} %}
            </div>
        </div>
    </main>
{% endblock %}
