.cp-database-query {
    width: 100%;
    height: 250px;
}

.cp-database-query-input {
    border: 3px solid $cp-primary-color;
    width: 100%;
    height: 150px;
}

.cp-database-query-output {
    width: 100%;
    min-height: 100px;
}
