.admin-form label {
    color: #222;
    font-weight: 700;
}

.form-control[readonly] {
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    cursor: auto;
    height: auto;
    padding: 0;
}

history-table {
    display: block;
    margin-bottom: 1em;

    th, td {
        padding: 5px;
        border: 1px solid #ccc;
        vertical-align: top;
    }
    th {
        background-color: #efe;
        font-weight: bold;
    }
    td {
        white-space: pre-line;
    }
}
