#cp-meal-plan-replace-package {
    .cp-possible-package {
        margin-bottom: 20px;
    }
    .cp-possible-package button {
        float: left;
    }
    .cp-possible-package cp-package-detail {
        float: left;
        width: 580px;
        margin-right: 40px;
    }
}
